<?xml version="1.0" encoding="UTF-8"?>
<rl:RuleSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:java="http://com.ibm.wbit.br.cb.core/java/" xmlns:ns1="http://oppgave-poc/ValiderPIN" xmlns:prim="http://com.ibm.wbit.br.cb.core/prim/" xmlns:rl="http://www.ibm.com/xmlns/prod/websphere/wbi/br/6.0.0" xmlns:selt="http://oppgave-poc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd8="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:xsd9="http://stelvio-commons-lib/no/nav/gbo" displayName="validerPIN" name="validerPIN" syncDisplayName="true" targetNamespace="http://oppgave-poc">
  <rl:interface operation="validerPIN">
    <rl:porttype>ns1:ValiderPIN</rl:porttype>
  </rl:interface>
  <rl:rulegroup>selt:ValiderPIN</rl:rulegroup>
  <rl:property name="IBMSystemVersion" type="SystemDefined" value="6.1.0"/>
  <rl:RuleBlock>
    <rl:rule xsi:type="rl:AssertionRule" comment="Ugyldig inntil det motsatte er bevist" displayName="Ugyldig" label="Ugyldig" syncDisplayName="true">
      <rl:assert>
        <rl:Action value="gyldig = false"/>
      </rl:assert>
    </rl:rule>
    <rl:rule xsi:type="rl:IfThenRule" comment="Navn stemmer" displayName="Navn" label="Navn" syncDisplayName="true">
      <rl:if>
        <rl:conditionExpression xsi:type="rl:LogicalOrExpression">
          <rl:conditionExpression xsi:type="rl:BooleanExpression">
            <rl:expString>minIDSetWithPIN.familyName != norskPIN.etternavn</rl:expString>
          </rl:conditionExpression>
          <rl:conditionExpression xsi:type="rl:BooleanExpression">
            <rl:expString>minIDSetWithPIN.forenames !=norskPIN.fornavn</rl:expString>
          </rl:conditionExpression>
        </rl:conditionExpression>
      </rl:if>
      <rl:then>
        <rl:Action value="melding =  &quot;Norsk PID funnet, men avvikende etternavn&quot;"/>
        <rl:Action value="return"/>
      </rl:then>
    </rl:rule>
    <rl:rule xsi:type="rl:IfThenRule" comment="Fødselsdato stemmer" displayName="Fødselsdato" label="Fødselsdato" syncDisplayName="true">
      <rl:if>
        <rl:conditionExpression xsi:type="rl:BooleanExpression">
          <rl:expString>minIDSetWithPIN.birthDate != fodselsdato</rl:expString>
        </rl:conditionExpression>
      </rl:if>
      <rl:then>
        <rl:Action value="melding = &quot;Norsk PID funnet, men avvikende fødselsdato&quot;"/>
        <rl:Action value="return"/>
      </rl:then>
    </rl:rule>
    <rl:rule xsi:type="rl:AssertionRule" comment="OK" displayName="ValidertOK" label="ValidertOK" syncDisplayName="true">
      <rl:assert>
        <rl:Action value="gyldig =  true"/>
        <rl:Action value="pin = norskPIN.fodselsnummer"/>
      </rl:assert>
    </rl:rule>
  </rl:RuleBlock>
</rl:RuleSet>