<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="test@example.com">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://versjonskontroll.devillo.no/svn/nav/branches/int/R_8_9_0_D20161108_2016HL4</remote>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>@monthly</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>find -name ibm-deploy.scaj2ee -print -exec false {} +
find . -name &quot;*WSIMP.import&quot; -exec R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/bindingCheckHudson.py {} +
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/cons_xml_check.py R_8_9_0_D20161108_2016HL4
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/System.out.print_Search.py
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/HUDSON-Import_context_check.py
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/HUDSON-validFromCheck.py

# Sjekker om confluence er oppe:
if ! wget --spider http://confluence.adeo.no 2&gt;/dev/zero; then echo -e &apos;\nConfluence er nede, avslutter!\n&apos; ; exit 0 ;fi


# - EJB Avhengigheter:
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/HUDSON-EJBImports.py --path R_8_9_0_D20161108_2016HL4/ --page 178061978
# - Koblinger mot produsenter:
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/HUDSON-doc-produsent-avhengighet.py R_8_9_0_D20161108_2016HL4/ 178062000
# - Tilgangsstyring:
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/HUDSON-findRolesOnModules.py --path R_8_9_0_D20161108_2016HL4/ --page 178062010

## SVN UP: ##
svn up /home/ci/svn-repos/2016HL4/ --username svnguest --password Subversion01 --no-auth-cache
# -  Moduloversikt:
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/HUDSON-ImportComponentExportPublish.py --path R_8_9_0_D20161108_2016HL4/ --page 178062006 --design &quot;/home/ci/svn-repos/2016HL4/spesifikasjon/implementasjon/&quot;
# - Tilgangsstyring per samhandler:
R_8_9_0_D20161108_2016HL4/esb-tools/esb-scripts/bin/HUDSON-findRolesForSamhandlereOnModules.py --path R_8_9_0_D20161108_2016HL4/ --design &quot;/home/ci/svn-repos/2016HL4&quot; --envT 178062322 --envQ 178062320 --envP 178062316
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder plugin="test@example.com">
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.Mailer plugin="test@example.com">
      <recipients>test@example.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>