<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.558</version>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy"/>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm" plugin="test@example.com">
    <domain>adeo.no</domain>
    <bindName>srvciintegrasjon</bindName>
    <bindPassword>s+FJWmSZ85sSGbE/Bl8UStET4WTI0KHFiFnsV+y2wK4=</bindPassword>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>IBM J9 6.0</name>
      <home>/opt/IBM/BPM/java</home>
      <properties/>
    </jdk>
    <jdk>
      <name>Oracle JDK 1.7</name>
      <home>/usr/java/jdk1.7.0_51/</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="test@example.com">
      <owner class="hudson" reference="../../.."/>
      <name>CI</name>
      <description>Oversikt over alle CI tester</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>SoapUI-U2-AAMAL_CI</string>
        <string>SoapUI-U2-Ekstern-Arbeidsgiver_CI</string>
        <string>SoapUI-U2-Ekstern-NAVYtelsesinfo_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-Beregning_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-ErUngUfor_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-Person_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-TPTILB_CI</string>
        <string>SoapUI-U2-Ekstern-Virkemiddelokonomi-Utbetaling_CI</string>
        <string>SoapUI-U2-layers-Arena-2.0.0_CI</string>
        <string>SoapUI-U2-layers-Bidragsak_CI</string>
        <string>SoapUI-U2-layers-Brevbestilling_CI</string>
        <string>SoapUI-U2-layers-Brukerprofil_CI</string>
        <string>SoapUI-U2-layers-Dineutbetalinger_CI</string>
        <string>SoapUI-U2-layers-Eresept_CI</string>
        <string>SoapUI-U2-layers-fkafp-privat_CI</string>
        <string>SoapUI-U2-layers-Fullmakt_CI</string>
        <string>SoapUI-U2-layers-Gosys-3.0.0_CI</string>
        <string>SoapUI-U2-layers-Infotrygd_CI</string>
        <string>SoapUI-U2-layers-Institusjonsopphold_CI</string>
        <string>SoapUI-U2-layers-NAVAnsatt_CI</string>
        <string>SoapUI-U2-layers-NAVOrgEnhet_CI</string>
        <string>SoapUI-U2-layers-Oppgave_CI</string>
        <string>SoapUI-U2-layers-Person_CI</string>
        <string>SoapUI-U2-layers-Rettskilder_CI</string>
        <string>SoapUI-U2-layers-Samhandler_CI</string>
        <string>SoapUI-U2-layers-Samordning_CI</string>
        <string>SoapUI-U2-layers-Tjenestepensjon_CI</string>
        <string>SoapUI-U2-layers-Trekk_CI</string>
        <string>SoapUI-U2-layers-Vedtak_CI</string>
        <string>SoapUI-U2-NAV-ArbeidOgAktivitet_CI</string>
        <string>SoapUI-U2-NAV-ArbeidOgAktivitetYtelse_CI</string>
        <string>SoapUI-U2-NAV-Arbeidsgiver_CI</string>
        <string>SoapUI-U2-NAV-Arkiv_CI</string>
        <string>SoapUI-U2-NAV-BehandleArbeidsgiver_CI</string>
        <string>SoapUI-U2-NAV-BehandleMedlemskap_CI</string>
        <string>SoapUI-U2-NAV-BehandlePerson_CI</string>
        <string>SoapUI-U2-NAV-BehandleTrekk_CI</string>
        <string>SoapUI-U2-NAV-Dokumentbehandling_CI</string>
        <string>SoapUI-U2-NAV-Dokumentbestilling_CI</string>
        <string>SoapUI-U2-NAV-EESSIBlankett_CI</string>
        <string>SoapUI-U2-NAV-Endagspassord_CI</string>
        <string>SoapUI-U2-NAV-Enhet_CI</string>
        <string>SoapUI-U2-NAV-EUInstitusjon_CI</string>
        <string>SoapUI-U2-NAV-Familieforhold_CI</string>
        <string>SoapUI-U2-NAV-Fullmakt_CI</string>
        <string>SoapUI-U2-NAV-Henvendelse_CI</string>
        <string>SoapUI-U2-NAV-Henvendelsebehandling_CI</string>
        <string>SoapUI-U2-NAV-HPLIVEJournalbehandling_CI</string>
        <string>SoapUI-U2-NAV-Informasjonsgrunnlag_CI</string>
        <string>SoapUI-U2-NAV-Institusjonsopphold_CI</string>
        <string>SoapUI-U2-NAV-InterntNotat_CI</string>
        <string>SoapUI-U2-NAV-Journal_CI</string>
        <string>SoapUI-U2-NAV-Journalbehandling_CI</string>
        <string>SoapUI-U2-NAV-Medlemskap_CI</string>
        <string>SoapUI-U2-NAV-Oppgave_CI</string>
        <string>SoapUI-U2-NAV-Oppgavebehandling_CI</string>
        <string>SoapUI-U2-NAV-Oppholdsstatus_CI</string>
        <string>SoapUI-U2-NAV-Opptjening_CI</string>
        <string>SoapUI-U2-NAV-PensjonBeregning_CI</string>
        <string>SoapUI-U2-NAV-PensjonSak_CI</string>
        <string>SoapUI-U2-NAV-Person_CI</string>
        <string>SoapUI-U2-NAV-Personsok_CI</string>
        <string>SoapUI-U2-NAV-PIPEgenansatt_CI</string>
        <string>SoapUI-U2-NAV-Ruting_CI</string>
        <string>SoapUI-U2-NAV-Sak_CI</string>
        <string>SoapUI-U2-NAV-Samhandler_CI</string>
        <string>SoapUI-U2-NAV-Statistikk_CI</string>
        <string>SoapUI-U2-NAV-Tilbakekreving_CI</string>
        <string>SoapUI-U2-NAV-Tjenestepensjon_CI</string>
        <string>SoapUI-U2-NAV-TPSProdusent_CI</string>
        <string>SoapUI-U2-NAV-Trekk_CI</string>
        <string>SoapUI-U2-NAV-Utbetaling_CI</string>
        <string>SoapUI-U2-Pensjon-Beregning_CI</string>
        <string>SoapUI-U2-Pensjon-Grunnlag_CI</string>
        <string>SoapUI-U2-Pensjon-Iverksetting_CI</string>
        <string>SoapUI-U2-Pensjon-Krav_CI</string>
        <string>SoapUI-U2-Pensjon-Sak_CI</string>
        <string>SoapUI-U2-Pensjon-Samordning_CI</string>
        <string>SoapUI-U2-Pensjon-Simulering_CI</string>
        <string>SoapUI-U2-Pensjon-TilbakekrevingHendelse_CI</string>
        <string>SoapUI-U2-Pensjon-UngUfor_CI</string>
        <string>SoapUI-U2-StartStubbing_CI</string>
        <string>SoapUI-U2-StoppStubbing_CI</string>
        <string>SoapUI-U5-AAMAL_CI</string>
        <string>SoapUI-U5-Ekstern-Arbeidsgiver_CI</string>
        <string>SoapUI-U5-Ekstern-NAVYtelsesinfo_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-Beregning_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-ErUngUfor_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-Person_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-TPTILB_CI</string>
        <string>SoapUI-U5-Ekstern-Virkemiddelokonomi-Utbetaling_CI</string>
        <string>SoapUI-U5-layers-Arena-2.0.0_CI</string>
        <string>SoapUI-U5-layers-Bidragsak_CI</string>
        <string>SoapUI-U5-layers-Brevbestilling_CI</string>
        <string>SoapUI-U5-layers-Brukerprofil_CI</string>
        <string>SoapUI-U5-layers-Dineutbetalinger_CI</string>
        <string>SoapUI-U5-layers-Eresept_CI</string>
        <string>SoapUI-U5-layers-fkafp-privat_CI</string>
        <string>SoapUI-U5-layers-Fullmakt_CI</string>
        <string>SoapUI-U5-layers-Gosys-3.0.0_CI</string>
        <string>SoapUI-U5-layers-Infotrygd_CI</string>
        <string>SoapUI-U5-layers-Institusjonsopphold_CI</string>
        <string>SoapUI-U5-layers-NAVAnsatt_CI</string>
        <string>SoapUI-U5-layers-NAVOrgEnhet_CI</string>
        <string>SoapUI-U5-layers-Oppgave_CI</string>
        <string>SoapUI-U5-layers-Person_CI</string>
        <string>SoapUI-U5-layers-Rettskilder_CI</string>
        <string>SoapUI-U5-layers-Samhandler_CI</string>
        <string>SoapUI-U5-layers-Samordning_CI</string>
        <string>SoapUI-U5-layers-Tjenestepensjon_CI</string>
        <string>SoapUI-U5-layers-Trekk_CI</string>
        <string>SoapUI-U5-layers-Vedtak_CI</string>
        <string>SoapUI-U5-NAV-ArbeidOgAktivitet_CI</string>
        <string>SoapUI-U5-NAV-ArbeidOgAktivitetYtelse_CI</string>
        <string>SoapUI-U5-NAV-Arbeidsgiver_CI</string>
        <string>SoapUI-U5-NAV-Arkiv_CI</string>
        <string>SoapUI-U5-NAV-BehandleArbeidsgiver_CI</string>
        <string>SoapUI-U5-NAV-BehandleMedlemskap_CI</string>
        <string>SoapUI-U5-NAV-BehandlePerson_CI</string>
        <string>SoapUI-U5-NAV-BehandleTrekk_CI</string>
        <string>SoapUI-U5-NAV-Dokumentbehandling_CI</string>
        <string>SoapUI-U5-NAV-Dokumentbestilling_CI</string>
        <string>SoapUI-U5-NAV-EESSIBlankett_CI</string>
        <string>SoapUI-U5-NAV-Endagspassord_CI</string>
        <string>SoapUI-U5-NAV-Enhet_CI</string>
        <string>SoapUI-U5-NAV-EUInstitusjon_CI</string>
        <string>SoapUI-U5-NAV-Familieforhold_CI</string>
        <string>SoapUI-U5-NAV-Fullmakt_CI</string>
        <string>SoapUI-U5-NAV-Henvendelse_CI</string>
        <string>SoapUI-U5-NAV-Henvendelsebehandling_CI</string>
        <string>SoapUI-U5-NAV-HPLIVEJournalbehandling_CI</string>
        <string>SoapUI-U5-NAV-Informasjonsgrunnlag_CI</string>
        <string>SoapUI-U5-NAV-Institusjonsopphold_CI</string>
        <string>SoapUI-U5-NAV-InterntNotat_CI</string>
        <string>SoapUI-U5-NAV-Journal_CI</string>
        <string>SoapUI-U5-NAV-Journalbehandling_CI</string>
        <string>SoapUI-U5-NAV-Medlemskap_CI</string>
        <string>SoapUI-U5-NAV-Oppgave_CI</string>
        <string>SoapUI-U5-NAV-Oppgavebehandling_CI</string>
        <string>SoapUI-U5-NAV-Oppholdsstatus_CI</string>
        <string>SoapUI-U5-NAV-Opptjening_CI</string>
        <string>SoapUI-U5-NAV-PensjonBeregning_CI</string>
        <string>SoapUI-U5-NAV-PensjonSak_CI</string>
        <string>SoapUI-U5-NAV-Person_CI</string>
        <string>SoapUI-U5-NAV-Personsok_CI</string>
        <string>SoapUI-U5-NAV-PIPEgenansatt_CI</string>
        <string>SoapUI-U5-NAV-Ruting_CI</string>
        <string>SoapUI-U5-NAV-Sak_CI</string>
        <string>SoapUI-U5-NAV-Samhandler_CI</string>
        <string>SoapUI-U5-NAV-Statistikk_CI</string>
        <string>SoapUI-U5-NAV-Tilbakekreving_CI</string>
        <string>SoapUI-U5-NAV-Tjenestepensjon_CI</string>
        <string>SoapUI-U5-NAV-TPSProdusent_CI</string>
        <string>SoapUI-U5-NAV-Trekk_CI</string>
        <string>SoapUI-U5-NAV-Utbetaling_CI</string>
        <string>SoapUI-U5-Pensjon-Beregning_CI</string>
        <string>SoapUI-U5-Pensjon-Grunnlag_CI</string>
        <string>SoapUI-U5-Pensjon-Iverksetting_CI</string>
        <string>SoapUI-U5-Pensjon-Krav_CI</string>
        <string>SoapUI-U5-Pensjon-Sak_CI</string>
        <string>SoapUI-U5-Pensjon-Samordning_CI</string>
        <string>SoapUI-U5-Pensjon-Simulering_CI</string>
        <string>SoapUI-U5-Pensjon-TilbakekrevingHendelse_CI</string>
        <string>SoapUI-U5-Pensjon-UngUfor_CI</string>
        <string>SoapUI-U5-Pensjon-Vedtak_CI</string>
        <string>SoapUI-U5-StartStubbing_CI</string>
        <string>SoapUI-U5-StoppStubbing_CI</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>SoapUI-U[25].*</includeRegex>
      <recurse>true</recurse>
      <groupingRules/>
      <categorizationCriteria>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^SoapUI-U2</groupRegex>
          <namingRule>U2_Trunk</namingRule>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
        <org.jenkinsci.plugins.categorizedview.GroupingRule>
          <groupRegex>^SoapUI-U5</groupRegex>
          <namingRule>U5_2014HL3</namingRule>
        </org.jenkinsci.plugins.categorizedview.GroupingRule>
      </categorizationCriteria>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="test@example.com">
      <owner class="hudson" reference="../../.."/>
      <name>Deploy</name>
      <description>Deploy-jobber for buss og datapower</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../org.jenkinsci.plugins.categorizedview.CategorizedJobsView/jobNames/comparator"/>
        <string>Buss_Deploy_BPM</string>
        <string>Datapower_Deploy_1og2Gen</string>
        <string>Datapower_Deploy_3Gen</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>CI-(d|D)eploy(_|\-).*</includeRegex>
      <recurse>true</recurse>
      <groupingRules/>
      <categorizationCriteria/>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="test@example.com">
      <owner class="hudson" reference="../../.."/>
      <name>Rammeverk</name>
      <description>Stelvio jobber</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../org.jenkinsci.plugins.categorizedview.CategorizedJobsView/jobNames/comparator"/>
        <string>stelvio_trunk_int_maven</string>
        <string>stelvio_trunk_int_oppdragmediation</string>
        <string>stelvio_trunk_int_stelvio-commons-lib-test</string>
        <string>stelvio_trunk_int_stelvio-commons-lib_NEW</string>
        <string>stelvio_trunk_int_stelvio-commons-lib_sonar</string>
        <string>stelvio_trunk_int_systemavailability</string>
        <string>stelvio_trunk_int_wpshelpers</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <groupingRules/>
      <categorizationCriteria/>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
    <org.jenkinsci.plugins.categorizedview.CategorizedJobsView plugin="test@example.com">
      <owner class="hudson" reference="../../.."/>
      <name>Design</name>
      <description>Jobber som genererer opp dokumentasjon for bussen</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../org.jenkinsci.plugins.categorizedview.CategorizedJobsView/jobNames/comparator"/>
        <string>2013HL4_7.9_jobb1_nav-model-update</string>
        <string>2013HL4_7.9_jobb2_nav-model-doc</string>
        <string>2013HL4_7.9_jobb3_nav-model-doc-diagram</string>
        <string>2013HL4_7.9_jobb4_nav-model-doc-chmod</string>
        <string>2014HL3_8.0_NAV-Tjenestebuss</string>
        <string>TRUNK_NAV-Tjenestebuss</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <org.jenkinsci.plugins.categorizedview.IndentedJobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <groupingRules/>
      <categorizationCriteria/>
    </org.jenkinsci.plugins.categorizedview.CategorizedJobsView>
    <hudson.model.RadiatorView plugin="test@example.com">
      <owner class="hudson" reference="../../.."/>
      <name>Byggskjerm CI</name>
      <description>Viser status for alle CI-jobbene</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../org.jenkinsci.plugins.categorizedview.CategorizedJobsView/jobNames/comparator"/>
        <string>SoapUI-U2-Ekstern-Arbeidsgiver_CI</string>
        <string>SoapUI-U2-Ekstern-NAVYtelsesinfo_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-Beregning_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-ErUngUfor_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-Person_CI</string>
        <string>SoapUI-U2-Ekstern-Pensjon-TPTILB_CI</string>
        <string>SoapUI-U2-Ekstern-Virkemiddelokonomi-Utbetaling_CI</string>
        <string>SoapUI-U2-layers-Arena-2.0.0_CI</string>
        <string>SoapUI-U2-layers-Bidragsak_CI</string>
        <string>SoapUI-U2-layers-Brevbestilling_CI</string>
        <string>SoapUI-U2-layers-Brukerprofil_CI</string>
        <string>SoapUI-U2-layers-Dineutbetalinger_CI</string>
        <string>SoapUI-U2-layers-Eresept_CI</string>
        <string>SoapUI-U2-layers-fkafp-privat_CI</string>
        <string>SoapUI-U2-layers-Fullmakt_CI</string>
        <string>SoapUI-U2-layers-Gosys-3.0.0_CI</string>
        <string>SoapUI-U2-layers-Infotrygd_CI</string>
        <string>SoapUI-U2-layers-Institusjonsopphold_CI</string>
        <string>SoapUI-U2-layers-NAVAnsatt_CI</string>
        <string>SoapUI-U2-layers-NAVOrgEnhet_CI</string>
        <string>SoapUI-U2-layers-Oppgave_CI</string>
        <string>SoapUI-U2-layers-Person_CI</string>
        <string>SoapUI-U2-layers-Rettskilder_CI</string>
        <string>SoapUI-U2-layers-Samhandler_CI</string>
        <string>SoapUI-U2-layers-Samordning_CI</string>
        <string>SoapUI-U2-layers-Tjenestepensjon_CI</string>
        <string>SoapUI-U2-layers-Trekk_CI</string>
        <string>SoapUI-U2-layers-Vedtak_CI</string>
        <string>SoapUI-U2-NAV-ArbeidOgAktivitet_CI</string>
        <string>SoapUI-U2-NAV-ArbeidOgAktivitetYtelse_CI</string>
        <string>SoapUI-U2-NAV-Arbeidsgiver_CI</string>
        <string>SoapUI-U2-NAV-Arkiv_CI</string>
        <string>SoapUI-U2-NAV-BehandleArbeidsgiver_CI</string>
        <string>SoapUI-U2-NAV-BehandleMedlemskap_CI</string>
        <string>SoapUI-U2-NAV-BehandlePerson_CI</string>
        <string>SoapUI-U2-NAV-BehandleTrekk_CI</string>
        <string>SoapUI-U2-NAV-Dokumentbehandling_CI</string>
        <string>SoapUI-U2-NAV-Dokumentbestilling_CI</string>
        <string>SoapUI-U2-NAV-EESSIBlankett_CI</string>
        <string>SoapUI-U2-NAV-Endagspassord_CI</string>
        <string>SoapUI-U2-NAV-Enhet_CI</string>
        <string>SoapUI-U2-NAV-EUInstitusjon_CI</string>
        <string>SoapUI-U2-NAV-Familieforhold_CI</string>
        <string>SoapUI-U2-NAV-Fullmakt_CI</string>
        <string>SoapUI-U2-NAV-Henvendelse_CI</string>
        <string>SoapUI-U2-NAV-Henvendelsebehandling_CI</string>
        <string>SoapUI-U2-NAV-HPLIVEJournalbehandling_CI</string>
        <string>SoapUI-U2-NAV-Informasjonsgrunnlag_CI</string>
        <string>SoapUI-U2-NAV-Institusjonsopphold_CI</string>
        <string>SoapUI-U2-NAV-InterntNotat_CI</string>
        <string>SoapUI-U2-NAV-Journal_CI</string>
        <string>SoapUI-U2-NAV-Journalbehandling_CI</string>
        <string>SoapUI-U2-NAV-Medlemskap_CI</string>
        <string>SoapUI-U2-NAV-Oppgave_CI</string>
        <string>SoapUI-U2-NAV-Oppgavebehandling_CI</string>
        <string>SoapUI-U2-NAV-Oppholdsstatus_CI</string>
        <string>SoapUI-U2-NAV-Opptjening_CI</string>
        <string>SoapUI-U2-NAV-PensjonBeregning_CI</string>
        <string>SoapUI-U2-NAV-PensjonSak_CI</string>
        <string>SoapUI-U2-NAV-Person_CI</string>
        <string>SoapUI-U2-NAV-Personsok_CI</string>
        <string>SoapUI-U2-NAV-PIPEgenansatt_CI</string>
        <string>SoapUI-U2-NAV-Ruting_CI</string>
        <string>SoapUI-U2-NAV-Sak_CI</string>
        <string>SoapUI-U2-NAV-Samhandler_CI</string>
        <string>SoapUI-U2-NAV-Statistikk_CI</string>
        <string>SoapUI-U2-NAV-Tilbakekreving_CI</string>
        <string>SoapUI-U2-NAV-Tjenestepensjon_CI</string>
        <string>SoapUI-U2-NAV-TPSProdusent_CI</string>
        <string>SoapUI-U2-NAV-Trekk_CI</string>
        <string>SoapUI-U2-NAV-Utbetaling_CI</string>
        <string>SoapUI-U2-Pensjon-Beregning_CI</string>
        <string>SoapUI-U2-Pensjon-Grunnlag_CI</string>
        <string>SoapUI-U2-Pensjon-Iverksetting_CI</string>
        <string>SoapUI-U2-Pensjon-Krav_CI</string>
        <string>SoapUI-U2-Pensjon-Sak_CI</string>
        <string>SoapUI-U2-Pensjon-Samordning_CI</string>
        <string>SoapUI-U2-Pensjon-Simulering_CI</string>
        <string>SoapUI-U2-Pensjon-TilbakekrevingHendelse_CI</string>
        <string>SoapUI-U2-Pensjon-UngUfor_CI</string>
        <string>SoapUI-U2-Pensjon-Vedtak_CI</string>
        <string>SoapUI-U2-StartStubbing_CI</string>
        <string>SoapUI-U2-StoppStubbing_CI</string>
        <string>SoapUI-U5-Ekstern-Arbeidsgiver_CI</string>
        <string>SoapUI-U5-Ekstern-NAVYtelsesinfo_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-Beregning_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-ErUngUfor_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-Person_CI</string>
        <string>SoapUI-U5-Ekstern-Pensjon-TPTILB_CI</string>
        <string>SoapUI-U5-Ekstern-Virkemiddelokonomi-Utbetaling_CI</string>
        <string>SoapUI-U5-layers-Arena-2.0.0_CI</string>
        <string>SoapUI-U5-layers-Bidragsak_CI</string>
        <string>SoapUI-U5-layers-Brevbestilling_CI</string>
        <string>SoapUI-U5-layers-Brukerprofil_CI</string>
        <string>SoapUI-U5-layers-Dineutbetalinger_CI</string>
        <string>SoapUI-U5-layers-Eresept_CI</string>
        <string>SoapUI-U5-layers-fkafp-privat_CI</string>
        <string>SoapUI-U5-layers-Fullmakt_CI</string>
        <string>SoapUI-U5-layers-Gosys-3.0.0_CI</string>
        <string>SoapUI-U5-layers-Infotrygd_CI</string>
        <string>SoapUI-U5-layers-Institusjonsopphold_CI</string>
        <string>SoapUI-U5-layers-NAVAnsatt_CI</string>
        <string>SoapUI-U5-layers-NAVOrgEnhet_CI</string>
        <string>SoapUI-U5-layers-Oppgave_CI</string>
        <string>SoapUI-U5-layers-Person_CI</string>
        <string>SoapUI-U5-layers-Rettskilder_CI</string>
        <string>SoapUI-U5-layers-Samhandler_CI</string>
        <string>SoapUI-U5-layers-Samordning_CI</string>
        <string>SoapUI-U5-layers-Tjenestepensjon_CI</string>
        <string>SoapUI-U5-layers-Trekk_CI</string>
        <string>SoapUI-U5-layers-Vedtak_CI</string>
        <string>SoapUI-U5-NAV-ArbeidOgAktivitet_CI</string>
        <string>SoapUI-U5-NAV-ArbeidOgAktivitetYtelse_CI</string>
        <string>SoapUI-U5-NAV-Arbeidsgiver_CI</string>
        <string>SoapUI-U5-NAV-Arkiv_CI</string>
        <string>SoapUI-U5-NAV-BehandleArbeidsgiver_CI</string>
        <string>SoapUI-U5-NAV-BehandleMedlemskap_CI</string>
        <string>SoapUI-U5-NAV-BehandlePerson_CI</string>
        <string>SoapUI-U5-NAV-BehandleTrekk_CI</string>
        <string>SoapUI-U5-NAV-Dokumentbehandling_CI</string>
        <string>SoapUI-U5-NAV-Dokumentbestilling_CI</string>
        <string>SoapUI-U5-NAV-EESSIBlankett_CI</string>
        <string>SoapUI-U5-NAV-Endagspassord_CI</string>
        <string>SoapUI-U5-NAV-Enhet_CI</string>
        <string>SoapUI-U5-NAV-EUInstitusjon_CI</string>
        <string>SoapUI-U5-NAV-Familieforhold_CI</string>
        <string>SoapUI-U5-NAV-Fullmakt_CI</string>
        <string>SoapUI-U5-NAV-Henvendelse_CI</string>
        <string>SoapUI-U5-NAV-Henvendelsebehandling_CI</string>
        <string>SoapUI-U5-NAV-HPLIVEJournalbehandling_CI</string>
        <string>SoapUI-U5-NAV-Informasjonsgrunnlag_CI</string>
        <string>SoapUI-U5-NAV-Institusjonsopphold_CI</string>
        <string>SoapUI-U5-NAV-InterntNotat_CI</string>
        <string>SoapUI-U5-NAV-Journal_CI</string>
        <string>SoapUI-U5-NAV-Journalbehandling_CI</string>
        <string>SoapUI-U5-NAV-Medlemskap_CI</string>
        <string>SoapUI-U5-NAV-Oppgave_CI</string>
        <string>SoapUI-U5-NAV-Oppgavebehandling_CI</string>
        <string>SoapUI-U5-NAV-Oppholdsstatus_CI</string>
        <string>SoapUI-U5-NAV-Opptjening_CI</string>
        <string>SoapUI-U5-NAV-PensjonBeregning_CI</string>
        <string>SoapUI-U5-NAV-PensjonSak_CI</string>
        <string>SoapUI-U5-NAV-Person_CI</string>
        <string>SoapUI-U5-NAV-Personsok_CI</string>
        <string>SoapUI-U5-NAV-PIPEgenansatt_CI</string>
        <string>SoapUI-U5-NAV-Ruting_CI</string>
        <string>SoapUI-U5-NAV-Sak_CI</string>
        <string>SoapUI-U5-NAV-Samhandler_CI</string>
        <string>SoapUI-U5-NAV-Statistikk_CI</string>
        <string>SoapUI-U5-NAV-Tilbakekreving_CI</string>
        <string>SoapUI-U5-NAV-Tjenestepensjon_CI</string>
        <string>SoapUI-U5-NAV-TPSProdusent_CI</string>
        <string>SoapUI-U5-NAV-Trekk_CI</string>
        <string>SoapUI-U5-NAV-Utbetaling_CI</string>
        <string>SoapUI-U5-Pensjon-Beregning_CI</string>
        <string>SoapUI-U5-Pensjon-Grunnlag_CI</string>
        <string>SoapUI-U5-Pensjon-Iverksetting_CI</string>
        <string>SoapUI-U5-Pensjon-Krav_CI</string>
        <string>SoapUI-U5-Pensjon-Sak_CI</string>
        <string>SoapUI-U5-Pensjon-Samordning_CI</string>
        <string>SoapUI-U5-Pensjon-Simulering_CI</string>
        <string>SoapUI-U5-Pensjon-TilbakekrevingHendelse_CI</string>
        <string>SoapUI-U5-Pensjon-UngUfor_CI</string>
        <string>SoapUI-U5-Pensjon-Vedtak_CI</string>
        <string>SoapUI-U5-StartStubbing_CI</string>
        <string>SoapUI-U5-StoppStubbing_CI</string>
      </jobNames>
      <jobFilters/>
      <columns/>
      <includeRegex>SoapUI-U[25].*</includeRegex>
      <recurse>false</recurse>
      <showStable>false</showStable>
      <showStableDetail>false</showStableDetail>
      <showBuildStability>true</showBuildStability>
      <highVis>true</highVis>
      <groupByPrefix>false</groupByPrefix>
    </hudson.model.RadiatorView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Status 2015HL1 (8.2)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(2015HL1_8\.2_).*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Status 2014HL3 (8.0)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(2014HL3_8\.0_).*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Status TRUNK (8.1)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>TRUNK-CheckScripts_Leveransedokumentasjon</string>
        <string>TRUNK-configuration_bus-authorization</string>
        <string>TRUNK-configuration_bus-environment</string>
        <string>TRUNK-configuration_bus-nonenvironment</string>
        <string>TRUNK-ekstern</string>
        <string>TRUNK-esb-release</string>
        <string>TRUNK-esb_poms</string>
        <string>TRUNK-layers</string>
        <string>TRUNK-layers_dryRun</string>
        <string>TRUNK-nav</string>
        <string>TRUNK-pensjon</string>
        <string>TRUNK_NAV-Tjenestebuss</string>
        <string>TRUNK_tjenestespesifikasjon_ekstern</string>
        <string>TRUNK_tjenestespesifikasjon_nav</string>
        <string>TRUNK_tjenestespesifikasjon_pensjon</string>
        <string>TRUNK_tjenestespesifikasjon_system</string>
        <string>TRUNK_tjenestespesifikasjon_tredjegenerasjon</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <hudson.model.RadiatorView plugin="test@example.com">
      <owner class="hudson" reference="../../.."/>
      <name>Byggskjerm</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns/>
      <includeRegex>^201\dHL\d.*|^TRUNK.*</includeRegex>
      <recurse>false</recurse>
      <showStable>false</showStable>
      <showStableDetail>false</showStableDetail>
      <showBuildStability>true</showBuildStability>
      <highVis>true</highVis>
      <groupByPrefix>false</groupByPrefix>
    </hudson.model.RadiatorView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Status 2014HL2 (7.10)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(2014HL2_7\.10_).*</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>