<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>blockBuildWhenDownstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-queueSorter-PrioritySorterJobProperty</string>
      <base-property>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>logRotator</string>
      <log-rotator-property>
        <originalValue class="hudson.tasks.LogRotator">
          <daysToKeep>-1</daysToKeep>
          <numToKeep>3</numToKeep>
          <artifactDaysToKeep>-1</artifactDaysToKeep>
          <artifactNumToKeep>-1</artifactNumToKeep>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </log-rotator-property>
    </entry>
    <entry>
      <string>blockBuildWhenUpstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList"/>
        <propertyOverridden>false</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>jdk</string>
      <string-property>
        <originalValue class="string">(Default)</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>concurrentBuild</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.scm.SubversionSCM">
          <locations>
            <hudson.scm.SubversionSCM_-ModuleLocation>
              <remote>https://versjonskontroll.adeo.no/svn/nav/branches/int/R_7_0_0_D20110324_HORISONTEN/esb-soap-tests</remote>
              <ignoreExternalsOption>false</ignoreExternalsOption>
            </hudson.scm.SubversionSCM_-ModuleLocation>
          </locations>
          <browser class="hudson.scm.browsers.ViewSVN">
            <url>http://versjonskontroll.adeo.no/viewsvn/?root=nav</url>
          </browser>
          <excludedRegions></excludedRegions>
          <includedRegions></includedRegions>
          <excludedUsers></excludedUsers>
          <excludedRevprop></excludedRevprop>
          <excludedCommitMessages></excludedCommitMessages>
          <useUpdate>true</useUpdate>
          <doRevert>false</doRevert>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <creationTime>0</creationTime>
  <properties>
    <hudson.queueSorter.PrioritySorterJobProperty>
      <priority>100</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
  </properties>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-queueSorter-PrioritySorterJobProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.SubversionSCM" reference="../project-properties/entry[9]/scm-property/originalValue"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders>
    <hudson.tasks.Maven>
      <targets>eviware:maven-soapui-plugin:test -Dsoapui.projectfile=Oppdrag-soapui-project.xml -Dsoapui.host=e11apvl036.utv.internsone.local</targets>
      <mavenName>(Default)</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
    </hudson.tasks.Maven>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>esb-soap-tests/reports/TEST-*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Mailer>
      <recipients>test@example.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>