###############################################################################
####    Shared Libraries 
###############################################################################
# Scope = cell | node | server | cluster
SCOPE=cell
SCOPE_NAME=$cellName

NAME=ESB_CEI_CONFIG
DESCRIPTION=CEI Event Consumer Shared Library
CLASS_PATH=/was_app/config/esb/cei