<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Stopper følgende service&#xd;
på node:&#xd;
service bpm-app AppTarget stop&#xd;
service bpm-app Support stop&#xd;
service bpm-app Messaging stop &#xd;
service nodeagent stop&#xd;
&#xd;
På dmgr:&#xd;
service dmgr stop&#xd;
&#xd;
starter så disse igjen&#xd;
 </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Environment</name>
          <description>Miljønavn (f.eks. U5)</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>u2</string>
              <string>u3</string>
              <string>u4</string>
              <string>u5</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec></spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/home/ci/joakim-kartveit/restartBPM.sh  ${Environment}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="test@example.com">
      <recipients>joakim.kartveit.nav@no</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>