###############################################################################
# J2C Connection Factory
###############################################################################
# SCOPE				= cell | node | server | cluster

SCOPE 				= $scope
SCOPE_NAME			= $scopeName
NODE_NAME 			= $nodeName


#Resource Adapter name 
RA_NAME				= ECIResourceAdapter

#J2C Connection Factory properties
NAME				= CICSTPS
JNDI_NAME			= jndi/jca/TPS
DESCRIPTION			= mot TPS

#Custom properties
CONNECTION_URL			= $connUrlCicsTps
PORT_NUMBER			= $portCicsTps
SERVER_NAME			= $serverNameCicsTps