###############################################################################
####    JMS Connection Factory Properties
###############################################################################
# Required Parameters
# Scope = cell | node | server | cluster
SCOPE=$scope
SCOPE_NAME=$scopeName
# NODE_NAME only needed for SCOPE=server
NODE_NAME=
CF_NAME=TPSCF
CF_JNDI_NAME=jms/TPSCF
SI_BUSNAME=$busName
#
# Optional Parameters
CF_TYPE=
CF_AUTH_ALIAS=
CF_XA_REC_AUTH_ALIAS=
CF_CATEGORY=
CF_DESCRIPTION=
CF_LOG_MISSING=
CF_MANAGE_CACHED=
CF_CLIENTID=
CF_USERNAME=
CF_PASSWORD=
CF_DURABLE_SUB_HOME=
CF_NONPERSIST_MAP=None
CF_PERSIST_MAP=None
CF_READ_AHEAD=Default
CF_TARGET=
CF_TARGET_TYPE=
CF_TARGET_SIG=Preferred
CF_TARGET_TRANS_CHAIN=
CF_PROVIDER_ENDPTS=
CF_CONNECT_PROX=
CF_TEMP_QUEUENAME_PREFIX=
CF_TEMP_TOPICNAME_PREFIX=
CF_SHARE_DS_CMP=false
CF_SHARE_DUR_SUB=InCluster
# Connection Pool Properties
CP_CONN_TIMEOUT=180
CP_MAX_CONN=20
CP_MIN_CONN=1
CP_REAP_TIME=180
CP_UNUSED_TIMEOUT=1800
CP_AGED_TIMEOUT=600
CP_PURGE_POLICY=EntirePool
# Advanced Connection Pool Properties 
CP_SHARED_PARTITIONS=0
CP_FREE_POOL_PARTITIONS=0
CP_FREE_TABLE_SIZE=0
CP_SURGE_THRESHOLD=-1
CP_SURGE_INTERVAL=0
CP_STUCK_TIMER=5
CP_STUCK_TIME=30
CP_STUCK_THRESHOLD=20
