###############################################################################
####    JMS Queue Properties
###############################################################################
# Required Parameters
# Scope = cell | node | server | cluster

SCOPE=$scope
SCOPE_NAME=$scopeName

NAME=BREVKVITTERING_RECEIVE_DT
JNDI_NAME=jms/BREVKVITTERING_RECEIVE_DT
CONNECT_QUEUE_NAME=$baseQueueNameBrevkvitteringReply
BUSNAME=$busName

#
# Optional Parameters
DESC=Reply queue for Brevkvittering
DELIVERY_MODE=Application
TIME_TO_LIVE=
PRIORITY=
READ_AHEAD=AsConnection