###############################################################################
####    SIB Destination Properties       
###############################################################################
# Required Parameters
BUSNAME=$busName
NAME=TPS_SVAR_XML_O
### Valid: Queue, Foreign, Alias, Topic Space
TYPE=Queue
#
# Optional Parameters
CLUSTER=$meClusterName
NODE=$nodeName
SERVER=$serverName
ALIAS_BUS=
TARGET_BUS=
TARGET_NAME=
FOREIGN_BUS=
DESCRIPTION=TPS reply
RELIABILITY=BEST_EFFORT_NONPERSISTENT
MAX_RELIABILITY=BEST_EFFORT_NONPERSISTENT
DEFAULT_PRIORITY=5
MAX_FAILED_DEL=1
EXCEPT_DEST=\$DEFAULT_EXCEPTION_DESTINATION
REPLY_DEST=
REPLY_DEST_BUS=
DEL_AUTH=
# Not valid for Non-Queue types:
RECV_EXCL=false
# Not Valid for Alias types:
OVERRIDE=false
SEND_ALLOWED=true
RECV_ALLOWED=true
# Valid for TopicSpace type only:
#TOPIC_ACCESS=true
