app/*.trash*
app/.project
app/.settings
app/stelvio-batch-client-java/.classpath
app/stelvio-batch-client-java/.project
app/stelvio-batch-client-java/.settings
app/stelvio-batch-client-java/target
app/stelvio-batch-java/.classpath
app/stelvio-batch-java/.project
app/stelvio-batch-java/.settings
app/stelvio-batch-java/target
app/stelvio-common-java/.classpath
app/stelvio-common-java/.project
app/stelvio-common-java/.settings
app/stelvio-common-java/bin
app/stelvio-common-java/target
app/stelvio-consumer-java/.classpath
app/stelvio-consumer-java/.project
app/stelvio-consumer-java/.settings
app/stelvio-consumer-java/target
app/stelvio-domain-java/.classpath
app/stelvio-domain-java/.project
app/stelvio-domain-java/.settings
app/stelvio-domain-java/target
app/stelvio-dto-java/.classpath
app/stelvio-dto-java/.project
app/stelvio-dto-java/.settings
app/stelvio-dto-java/target
app/stelvio-model-uml/.classpath
app/stelvio-model-uml/.project
app/stelvio-model-uml/.settings
app/stelvio-model-uml/target
app/stelvio-presentation-java/.classpath
app/stelvio-presentation-java/.project
app/stelvio-presentation-java/.settings
app/stelvio-presentation-java/target
app/stelvio-provider-java/.classpath
app/stelvio-provider-java/.project
app/stelvio-provider-java/.settings
app/stelvio-provider-java/target
app/stelvio-repository-java/.classpath
app/stelvio-repository-java/.project
app/stelvio-repository-java/.settings
app/stelvio-repository-java/target
app/stelvio-service-java/.classpath
app/stelvio-service-java/.project
app/stelvio-service-java/.settings
app/stelvio-service-java/target
app/stelvio-test-java/.classpath
app/stelvio-test-java/.project
app/stelvio-test-java/.settings
app/stelvio-test-java/target
app/target

# Maven #
MANIFEST.MF

# IntelliJ #
.idea
*.iml
atlassian-ide-plugin.xml

# Generated sources #
target/
trash/

# IntelliJ #
############
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml