<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy-jobb for å deploye til et ønsket BPM U-miljø.&#xd;
&#xd;
Vær oppmerksom på at følgende deploy-jobber kjører automatisk hver natt:&#xd;
- CI-Automatisk_Deploy-ESB-U2_(TRUNK)&#xd;
- CI-Automatisk_Deploy-ESB-U3_(2015HL3)&#xd;
- CI-Automatisk_Deploy-ESB-U4_(2015HL2)&#xd;
</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Environment</name>
          <description>Miljønavn (f.eks. U5)</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>u2</string>
              <string>u3</string>
              <string>u4</string>
              <string>u5</string>
              <string>u32</string>
              <string>u42</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ESBVersion</name>
          <description>Bussversjon</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>esb_authorization_configuration</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>esb_environment_configuration</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>esb_nonenvironment_configuration</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BusPomRevision</name>
          <description>SVN-revisjon av deployer pom</description>
          <defaultValue>10955</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>logging_level</name>
          <description>Select the level of logging output</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>INFO</string>
              <string>DEBUG</string>
              <string>INFO</string>
              <string>WARNING</string>
              <string>ERROR</string>
              <string>EXCEPTION</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Lifecycle</name>
          <description>Maven lifecycle</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>deploy</string>
              <string>test</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec></spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>regex=&quot;^[[:digit:]]+$&quot;
if [[ ${BusPomRevision} =~ $regex ]] ;then
  wget -O pom.xml https://versjonskontroll.adeo.no/wsvn/stelvio/trunk/int/maven/poms/maven-wpsdeploy-pom/pom.xml?op=dl\&amp;rev=${BusPomRevision}
else
  echo &quot;Revision must be a number&quot;
  exit 1
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean -U
${Lifecycle}
-Denvironment=${Environment}
-Desb-modules-version=${ESBVersion}
-Dnav-modules-version=${ESBVersion}
-Dpensjon-modules-version=${ESBVersion}
-Dpensjon-prosess-modules-version=${ESBVersion}
-Dekstern-pensjon-modules-version=${ESBVersion}
-DinteractiveMode=false
-Dskip=bounce-dmgr
-Desb-authorization-configuration=${esb_authorization_configuration}
-Desb-nonenviroment-configuration=${esb_nonenvironment_configuration}
-Desb-enviroment-configuration=${esb_environment_configuration}
-Dlogging.level=${logging_level}
-DfasitPasswordBase64=YWRtaW4=
-DfasitUsername=admin</targets>
      <mavenName>Maven 3</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="test@example.com">
      <recipients>test@example.com, test@example.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="test@example.com">
      <template>#${BUILD_NUMBER}: v.${ENV,var=&quot;ESBVersion&quot;} @${ENV,var=&quot;Environment&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>