###############################################################################
####    JMS Activation Specification Properties
###############################################################################
# Required Parameters
# Scope = cell | node | server | cluster
SCOPE=$scope
SCOPE_NAME=$scopeName
NAME=CEI_EVENT_QUEUE_AS
JNDI_NAME=jms/cei/CEI_EVENT_QUEUE_AS
DEST_JNDI_NAME=jms/cei/CEI_EVENT_QUEUE
BUSNAME=$busNameCommonEvent
#
# Optional
DESC=MedlemskapsunntakHendelseAS
ACK_MODE=Auto-acknowledge
AUTH_ALIAS=
TARGET_TRANS_CHAIN=
MAX_BATCH=1
MAX_ENDPTS=10
CLIENT_ID=
DEST_TYPE=Queue
DUR_SUB_HOME=
MSG_SELECTOR=
SUB_DUR=NonDurable
SUB_NAME=
SHARE_DUR_SUB=Incluster
SHARE_DS_CMP=False
READ_AHEAD=Default
USERNAME=
PASSWORD=