###############################################################################
####    JMS Queue Properties
###############################################################################
# Required Parameters
# Scope = cell | node | server | cluster

SCOPE=$scope
SCOPE_NAME=$scopeName

NAME=nav-cons-oko-os-oppdragBatch.OppdragReplyBatchJMSEXP_RECEIVE_DT
JNDI_NAME=jms/OppdragReplyBatchJMSEXP_RECEIVE_DT
CONNECT_QUEUE_NAME=$queueNameOppdragReplyBatchMQEXP_RECEIVE_DT
BUSNAME=$busName

#
# Optional Parameters
DESC=Reply queue for Oppdrag Batch
DELIVERY_MODE=Application
TIME_TO_LIVE=
PRIORITY=
READ_AHEAD=AsConnection