###############################################################################
# J2C Connection Factory
###############################################################################
# SCOPE				= cell | node | server | cluster

SCOPE 				= $scope
SCOPE_NAME			= $scopeName
NODE_NAME 			= $nodeName


#Resource Adapter name 
RA_NAME				= ECIXAResourceAdapter

#J2C Connection Factory properties
NAME				= CICSAA
JNDI_NAME			= jndi/jca/AA
DESCRIPTION			= MOT AA

#Custom properties
CONNECTION_URL			= $connUrlCicsAa
PORT_NUMBER			= $portCicsAa
SERVER_NAME			= $serverNameCicsAa

