###############################################################################
####    JMS Queue Properties
###############################################################################
# Required Parameters
# Scope = cell | node | server | cluster

SCOPE=$scope
SCOPE_NAME=$scopeName

NAME=OppdragRequestBatch
JNDI_NAME=jms/OppdragRequestBatchJMSIMP_SEND_DT
CONNECT_QUEUE_NAME=oppdragRequestBatch
BUSNAME=$busName

#
# Optional Parameters
DESC=Queue to handle mediation for OppdragBatch
DELIVERY_MODE=Application
TIME_TO_LIVE=
PRIORITY=
READ_AHEAD=AsConnection