<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>2.2.1</version>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy"/>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm">
    <domain>adeo.no</domain>
    <bindName>srvciintegrasjon</bindName>
    <bindPassword>Q6j28cmRnJt7aeCp5/xmUjUZdOlp/GRsytwuftGVbnw=</bindPassword>
  </securityRealm>
  <systemMessage>&lt;h2 style=&quot;color:red&quot;&gt;Du må nå logge inn med ADEO ident for å starte jobber.&lt;/h2&gt; Dette for at du skal få mailene du skal ha og at vi kan se hvem som starter deploy.</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter"/>
  <configuredWorkspaceRoot></configuredWorkspaceRoot>
  <jdks>
    <jdk>
      <name>IBM J9 6.0</name>
      <home>/opt/IBM/SDP/jdk</home>
      <properties/>
    </jdk>
    <jdk>
      <name>Sun JDK 6.0</name>
      <home>/usr/java/jdk1.6.0_20</home>
      <properties/>
    </jdk>
    <jdk>
      <name>Oracle JDK 1.7</name>
      <home>/usr/java/jdk1.7.0_21</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>A34DRVW005 (Win08)</name>
      <description></description>
      <remoteFS>D:\RemoteHudson\</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label></label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>1</int>
              <string>path</string>
              <string>C:\csvn\bin\;D:\apps\Python27\;C:\IBM\RationalSDLC\Clearquest\cqcli\bin;C:\Program Files (x86)\CA\SC\CAWIN\;C:\PROGRA~2\CA\SC\CCS\ETPKI\lib;%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\CA\CA_APPSW;C:\PROGRA~2\CA\SC\CCS\CAM\bin;C:\PROGRA~2\CA\SC\CCS\PDA;C:\Program Files (x86)\CA\SC\CCS\AT\services\bin;C:\Program Files (x86)\CA\SC\CCS\AT\agents\bin;C:\PROGRA~2\CA\NSM\bin;C:\PROGRA~2\CA\SC\CCS\AT\Agents\bin;C:\Program Files (x86)\CA\DSM\bin;C:\IBM\RationalSDLC\ClearCase\bin;C:\IBM\RationalSDLC\common;%JAVA_HOME%\bin;%JRE_HOME%;%M2_HOME%\bin;C:\oracle;C:\oracle\bin;C:\Program Files\Saxonica\SaxonHE9.4N\bin</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
    <slave>
      <name>Skjermboksen</name>
      <description></description>
      <remoteFS>D:\RemoteHudson\</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label></label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>2</int>
              <string>JAVA_HOME</string>
              <string>C:\Programfiler\Java\jdk1.6.0_21</string>
              <string>PATH</string>
              <string>%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;C:\PROGRA~1\CA\SHARED~1\SCANEN~1;C:\PROGRA~1\CA\ETRUST~1;C:\PROGRA~1\CA\SHARED~1\CAM\bin;C:\apps\Python27;D:\div\qc_v2\classes;D:\div\qc_v2\classes\core;D:\div\qc_v2\;C:\Programfiler\GnuWin32\bin;C:\groovy-1.8.6\bin;c:\curl-7.25.0</string>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <hudson.model.RadiatorView>
      <owner class="hudson" reference="../../.."/>
      <name>Status TRUNK</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>CI-buss-pom_sync</string>
        <string>CI-deploy-til-U2-WPS-Maven3</string>
        <string>CI-deploy_bus-authorization-0.0.0.1-SNAPSHOT</string>
        <string>CI-deploy_bus-enviroment-0.0.0.1-SNAPSHOT</string>
        <string>CI-deploy_bus-nonenviroment-0.0.0.1-SNAPSHOT</string>
        <string>CI-wpsdeploy-pom_sync</string>
        <string>TRUNK-CheckScripts</string>
        <string>TRUNK-ekstern</string>
        <string>TRUNK-ekstern-modules-ci</string>
        <string>TRUNK-esb-modules-ci</string>
        <string>TRUNK-esb-release deploy</string>
        <string>TRUNK-esb-release verify</string>
        <string>TRUNK-nav</string>
        <string>TRUNK-nav-modules-ci</string>
        <string>TRUNK-nav_trunk_int_esb_layers</string>
        <string>TRUNK-nav_trunk_int_esb_layers_dryRun_release</string>
        <string>TRUNK-nav_trunk_int_esb_poms</string>
        <string>TRUNK-pensjon</string>
        <string>TRUNK-pensjon-modules-ci</string>
        <string>TRUNK-tjenestespesifikasjon-ekstern</string>
        <string>TRUNK-tjenestespesifikasjon-nav</string>
        <string>TRUNK-tjenestespesifikasjon-pensjon</string>
        <string>TRUNK-tjenestespesifikasjon-system</string>
        <string>TRUNK_configuration_bus-authorization</string>
        <string>TRUNK_configuration_bus-environment</string>
        <string>TRUNK_configuration_bus-nonenvironment</string>
        <string>TRUNK_nav-model-doc</string>
        <string>TRUNK_nav-model-doc-chmod</string>
        <string>TRUNK_nav-model-doc-diagram</string>
        <string>TRUNK_nav-model-update</string>
        <string>TRUNK_service-gw-maven-service-registry-plugin</string>
      </jobNames>
      <jobFilters/>
      <columns/>
      <showStable>true</showStable>
      <showStableDetail>true</showStableDetail>
      <highVis>true</highVis>
      <groupByPrefix>false</groupByPrefix>
    </hudson.model.RadiatorView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Stelvio</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Stelvio-app-sandbox</string>
        <string>Stelvio-app-site</string>
        <string>Stelvio-app-svn</string>
        <string>Stelvio-app-svn-dryRun-release</string>
        <string>Stelvio-app-svn-mvn3</string>
        <string>Stelvio-app-svn-spring3</string>
        <string>Stelvio-openam-svn</string>
        <string>Stelvio-TAI-site</string>
        <string>Stelvio-TAI-svn</string>
        <string>stelvio_trunk_incubator_stelvio_example</string>
        <string>stelvio_trunk_int_stelvio-commons-lib_sonar</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*stelvio.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>CI Trunk - U2</name>
      <description>&lt;b&gt;Test-view for kontinuerlig testing&lt;/b&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>SoapUI-U2-Ekstern-Pensjon-ErUngUfor_CI</string>
        <string>SoapUI-U2-NAV-Endagspassord_CI</string>
        <string>SoapUI-U2-NAV-PIPEgenansatt_CI</string>
        <string>SoapUI-U2-Pensjon-UngUfor_CI</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(SoapUI-U\d-).*</includeRegex>
    </listView>
    <hudson.model.RadiatorView>
      <owner class="hudson" reference="../../.."/>
      <name>Failed tests</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns/>
      <includeRegex>(SoapUI-U\d-).*</includeRegex>
      <showStable>true</showStable>
      <showStableDetail>true</showStableDetail>
      <highVis>true</highVis>
      <groupByPrefix>false</groupByPrefix>
    </hudson.model.RadiatorView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Confluence scripts</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Post Data Source config (WPS) overview to Confluence</string>
        <string>Post installed fixpacks (WPS) on U2, U3 and U4 to Confluence</string>
        <string>Post JVM config (WPS) overview to Confluence</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <includeRegex>.*Confluence.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Script jobs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>CI-buss-pom_sync</string>
        <string>CI-deploy_bus-authorization-0.0.0.1-SNAPSHOT</string>
        <string>CI-deploy_bus-enviroment-0.0.0.1-SNAPSHOT</string>
        <string>CI-deploy_bus-nonenviroment-0.0.0.1-SNAPSHOT</string>
        <string>CI-wpsdeploy-pom_sync</string>
        <string>Fixpack repo monitor</string>
        <string>TRUNK-CheckScripts</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Design</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <includeRegex>.*nav-model-.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DataPower</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>DataPower_deploy_MOD</string>
        <string>DataPower_provisioning</string>
        <string>DataPower_TestServiceGateway_fault-handling</string>
        <string>update_service-registry_test</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <includeRegex>.*[dD][aA][tT][aA][pP][oO][wW][eE][rR].*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Deploy</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*[Dd]eploy.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>SYSMOD</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>MigrateSYSMOD-Step1</string>
        <string>MigrateSYSMOD-Step2</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Sonar</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Stelvio-app-svn-dryRun-release</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <includeRegex>.*sonar.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Jira2Excel</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Jira2Excel MOD SCM</string>
        <string>Jira2Excel VKOE SCM</string>
        <string>Jira2Excel-AGG</string>
        <string>Jira2Excel-MOD-endringer</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <includeRegex>Jira.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Service Gateway</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Tjenesteforsyning_v1.0_Enhetstester</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <includeRegex>.*[sS]ervice-?(gw|[gG]ateway).*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Status HL2 (7.7)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[11]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(2013HL2_7\.7_).*</includeRegex>
    </listView>
    <hudson.plugins.view.dashboard.Dashboard>
      <owner class="hudson" reference="../../.."/>
      <name>MODTURKIS - Integration Tests</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>MODTURKIS - SoapUI - U3 - Service Gateway</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets/>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>MODTURKIS - Integration Tests2</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.view.dashboard.Dashboard/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
        <de.fspengler.hudson.pview.ConsoleViewColumn/>
      </columns>
      <includeRegex>(MODTURKIS - SoapUI).*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Status HL4 (7.9)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.ConsoleColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(2013HL4_7\.9_).*</includeRegex>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>