<!-- $Id$ -->
<settings xmlns="http://maven.apache.org/settings/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
		  
	<!-- Other settings can be set here, like username for the different repositories etc-->
	
	<servers>
		<server>
			<id>nav-maven2-internal-repo</id>
			<username>maven</username>
			<password>maven</password>
		</server>
		<server>
			<id>nav-pensjon-maven2-snapshot-repo</id>
			<username>maven</username>
			<password>maven</password>
		</server>
	</servers>
	
	<pluginGroups>
		<pluginGroup>no.nav.maven.plugins</pluginGroup>
		<pluginGroup>no.stelvio.maven.plugins</pluginGroup>
	</pluginGroups>
	
	<mirrors>
		<mirror>
			<id>Nexus PP Release Repository Group</id>
			<mirrorOf>external:*,!pp-snapshots</mirrorOf>
			<url>http://maven.adeo.no/nexus/content/groups/pp-releases</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>WID6</id>
			<activation>
				<file>
					<exists>C:/IBM/WID61</exists>
				</file>
			</activation>
			<properties>
				<wid.home>C:/IBM/WID61</wid.home>
				<wid.runtime>${wid.home}/runtimes/bi_v61</wid.runtime>
				<target.dir>${user.home}/maven-target/${project.groupId}/${project.artifactId}/${project.version}</target.dir>
			</properties>
		</profile>
		
		<profile>
			<id>WID7</id>
			<activation>
				<file>
					<exists>C:/IBM/WID7_WTE</exists>
				</file>
			</activation>
			<properties>
				<wid.home>C:/IBM/WID7_WTE</wid.home>
				<wid.runtime>${wid.home}/runtimes/bi_v7</wid.runtime>
				<target.dir>${user.home}/maven-target/${project.groupId}/${project.artifactId}/${project.version}</target.dir>
			</properties>
		</profile>
		
		<profile>
			<id>RAD7</id>
			<activation>
				<file>
					<exists>C:/IBM/SDP70</exists>
				</file>
			</activation>
			<properties>
				<was.home>C:/IBM/SDP70/runtimes/base_v7</was.home>
				<was.java.home>${was.home}/java</was.java.home>
				<itp.loc>${was.home}/deploytool/itp</itp.loc>
				<boot.path>${itp.loc}/batchboot.jar;${was.java.home}/jre/lib/ext/iwsorbutil.jar</boot.path>
				<ejbd.cp>${itp.loc}/batch2.jar;${itp.loc}/batch2_n11.jar</ejbd.cp>
				<was.ext.dirs>${was.home}/eclipse/plugins/j2ee.javax_1.4.0;${was.home}/eclipse/plugins/com.ibm.ws.runtime.eclipse_1.0.0;${was.home}/lib/j2ee.jar;${was.java.home}/lib;${was.home}/lib;${was.home}/plugins;${was.home}/classes;${was.home}/installedChannels;${was.home}/lib/ext;${was.home}/web/help;${itp.loc}/plugins/com.ibm.etools.ejbdeploy/runtime</was.ext.dirs>
			</properties>
		</profile>
		
		<profile>
			<id>WPS</id>
			<activation>
				<file>
					<exists>/opt/IBM/WebSphere/ProcServer</exists>
				</file>
			</activation>
			<properties>
				<wid.home>/opt/IBM/WebSphere/ProcServer</wid.home>
				<wid.runtime>${wid.home}</wid.runtime>
				<target.dir>${project.basedir}/target</target.dir>
			</properties>
		</profile>
		
		<profile>
			<id>default</id>
			<repositories>
				<repository>
					<id>pp-releases</id>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<url>http://maven.adeo.no/nexus/content/groups/pp-releases</url>
				</repository>
				<repository>
					<id>pp-snapshots</id>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>interval:10</updatePolicy>
					</snapshots>
					<url>http://maven.adeo.no/nexus/content/groups/pp-snapshots</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>pp-releases</id>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<url>http://maven.adeo.no/nexus/content/groups/pp-releases</url>
				</pluginRepository>
				<pluginRepository>
					<id>pp-snapshots</id>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>interval:10</updatePolicy>
					</snapshots>
					<url>http://maven.adeo.no/nexus/content/groups/pp-snapshots</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	
	<activeProfiles>
		<activeProfile>default</activeProfile>
	</activeProfiles>
</settings>
