<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.xtools.transform.core.transformationProviders">
      <TransformationProvider
            class="no.stelvio.esb.models.transformation.uml2servicemodel.Uml2servicemodelTransformationProvider">
         <Priority
               name="Highest">
         </Priority>
         <Transformation
               transformGUI="no.stelvio.esb.models.transformation.uml2servicemodel.Uml2servicemodelTransformationGUI"
               version="1.0.0"
               supportsSilentMode="true"
               name="Uml to Servicemodel transformation"
               groupPath="Stelvio model transformations"
               sourceModelType="resource"
               targetModelType="resource"
               id="no.stelvio.esb.models.transformation.uml2servicemodel.Uml2servicemodelTransformation">
         </Transformation>
      </TransformationProvider>
   </extension>
</plugin>
