<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Genererer følgende side (basert på RSA fra 2014HL2-kodestrømmen):&#xd;
http://e34wasl00228.devillo.no/7.10/site/</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="test@example.com">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://versjonskontroll.adeo.no/svn/nav/branches/tjenester/D20140317_2014HL2/spesifikasjon/design</remote>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>@monthly</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>svn update $HOME/svn-repos/2014HL2/tjenester/spesifikasjon/design --username svnguest --password Subversion01 --no-auth-cache

echo &quot;FERDIG MED SVN1&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo $DISPLAY
# DISPLAY=:0
xvfb-run /opt/IBM/SDP/eclipse -data &quot;$HOME/svn-repos/2014HL2/tjenester/spesifikasjon/&quot; -application no.stelvio.esb.models.transformation.uml2html.transformationRunner -inputDirPath &quot;$HOME/svn-repos/2014HL2/tjenester/spesifikasjon/design/&quot; -outputDirPath &quot;/var/www/html/7.10/&quot; -consoleLog --displaystacktrace | tee $HOME/scripts/tempFiles/2014HL2_NAV-Tjenestebuss.log

echo &quot;FERDIG MED ECLIPSE1&quot;
sleep 1s</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>if grep -q &quot;MESSAGE Application error&quot; $HOME/scripts/tempFiles/2014HL2_NAV-Tjenestebuss.log; then
  exit 1;
else
  exit 0;
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>DISPLAY=:0 /opt/IBM/SDP/eclipse -data &quot;$HOME/svn-repos/2014HL2/tjenester/spesifikasjon/&quot; -application no.stelvio.esb.models.transformation.diagram2img.transformationRunner -inputDirPath &quot;$HOME/svn-repos/2014HL2/tjenester/spesifikasjon/design/&quot; -outputDirPath &quot;/var/www/html/7.10/&quot; -consoleLog | tee $HOME/scripts/tempFiles/2014HL2_NAV-Tjenestebuss.log

echo &quot;FERDIG MED ECLIPSE2&quot;
sleep 1s</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>if grep -q &quot;MESSAGE Application error&quot; $HOME/scripts/tempFiles/2014HL2_NAV-Tjenestebuss.log; then
  exit 1;
else
  exit 0;
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>svn export --force https://versjonskontroll.adeo.no/svn/nav/branches/tjenester/D20140317_2014HL2/arkitekturmodeller/bildefiler/esb_tjenestemodell.jpeg /var/www/html/7.10/site/images/esb_tjenestemodell_v0.91.jpeg
svn export --force https://versjonskontroll.adeo.no/svn/nav/branches/tjenester/D20140317_2014HL2/arkitekturmodeller/bildefiler/esb_informasjonsmodell.jpeg /var/www/html/7.10/site/images/esb_informasjonsmodell_v1.1.jpeg
chmod -Rc 775 /var/www/html/7.10/site/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="test@example.com">
      <recipients>test@example.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>