<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Jobb som automatisk tar backup av Jenkins-konfigurasjonen og jobbene til SVN:&#xd;
https://versjonskontroll.adeo.no/svn/stelvio/trunk/dev/Jenkins/Jenkins_server_backup</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@midnight</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>JENKINS_HOME=&quot;/var/lib/jenkins&quot;
SVN_COMMENT=&quot;$JOB_NAME: $JENKINS_HOME&quot;

cd $JENKINS_HOME

#svn add --force -q --parents config.xml jobs/*/config.xml 
svn add --force -q --parents *.xml jobs/*/config.xml

svn st |grep &apos;^!&apos; |while read notation folder
do
   svn up &quot;$folder&quot;
   svn rm &quot;$folder&quot;
   rm -rf &quot;$folder&quot;
done

if svn st |grep -v &apos;^?&apos; ;then
   svn ci --non-interactive -m &quot;$SVN_COMMENT&quot;
else
   echo &quot;No changes, no commit will be performed!&quot;
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="test@example.com">
      <recipients>test@example.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>