<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Testjobb for automatisk konfigurering av Axiomatics via jenkins.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mvn com.googlecode.maven-download-plugin:download-maven-plugin:artifact -DgroupId=no.nav.asmconfig -DartifactId=asmconfig -Dversion=0.01-SNAPSHOT -Dclassifier=jar-with-dependencies -DoutputDirectory=.
java -jar asmconfig-0.01-SNAPSHOT-jar-with-dependencies.jar -asm-config
zip asm_bootstrap_$BUILD_NUMBER.zip -xi bootstrap.zip
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>