/*******************************************
*
* Special styles for IE, this stylesheet will only be visible for IE clients
*
*******************************************/

select, input { font-size: 0.9em;}

#NAVheaderContainer #NAVmenu img  { float: left; }

#NAVpersonalizedNavigation { height: 45px; }

#NAVpageImage { height: 12.8em; }

#NAVsubmenuContainer ul.NAVsubmenu li ol li ol li div { background-image: url('/common/images/global/none.gif'); }

#NAVtjenesterHeaderContainer { height: 3em; }