/***********************************************
*
*	GLOBAL DESIGN AND SPECIAL STYLES FOR A1
*
***********************************************/


/***********************************************
*
*	GLOBAL ELEMENTS
*
***********************************************/
html { background-image: url('/common/images/global/background.gif'); background-position: left top;}
body { margin:0em; padding: 0em; border-collapse: collapse; font-size: 73%; }
body, select, input, label { font-family: arial, verdana, sans-serif; color: #3E3832;}
table { font-size: 100%;}
select, input { font-size: 1em;}
a { text-decoration: none; color: #0074C4;}
a:hover { text-decoration: underline;}
a:visited { color: #8B32E5; }
img { border: 0em;}
ul { list-style: none; margin: 0em; padding: 0em; }
ol { list-style: none; margin: 0em; padding: 0em;}
p { margin-top: 0.5em;}
h1, h2, h3, h4, h5 { margin: 0em; padding: 0em;}
h1 { font-size: 3.2em; } /* Tittel på siden */
h2, h2 a, h2 a:visited { font-size: 1em; color: #CE3231; } /* Tittel på nyheter etc. */
h2 a:hover { text-decoration: none;}
h3 { font-size: 1em; color: #675C53;} /* Nivå 2 brødtekst. */
h4 { font-size: 1em; color: #3E3832; } /* nivå 3 brødtekst */
h5 { font-size: 1em; background-image: url('/common/images/global/dashedhorizontal.gif'); background-repeat: repeat-x; background-position: bottom left; padding: 0em 0em 4px 10px; color: #988F86;} /* Relevantinfo */
form { margin: 0em; padding: 0em;}
strong, b {color: #3E3832; }

/**********************************************
*
*	SELFDEFINED GLOBAL ELEMENTS
*
***********************************************/
/* Change fontsize [AAA] - see seperate stylesheets */
.NAVsmall { font-size: 1em; }
.NAVmedium { font-size: 1.1em; }
.NAVlarge { font-size: 1.2em; }

/* Misc */
.NAVskjemaHeading { padding-left: 7px;}
.NAVpageTitle { margin: 0px 0px 13px 10px;}
.NAVspacerTop { margin-top: 15px;}
.NAVupperCase { text-transform: uppercase;}
.NAVboldLink a { font-weight: bold;}
.NAVcalendarItem { margin-left: 5px;}
.NAVpageBreak { display: none;}
.NAVlinkListIngress { width: 100%!important;}
.NAVlinkListIngress p { margin-left: 10px;}
.NAVtextCenter { text-align: center;}

/* Pre defined table widths */
.NAVtbl .NAVcourseCol1 { width: 25%;}
.NAVtbl .NAVcourseCol2 { width: 75%;}
.NAVtbl .NAVcourseBtnCol { text-align: right; padding-right: 30px;}
.NAVtbl .NAVskjemaNameCol { width: 50%;}
.NAVtbl .NAVskjemaLanguageCol { width: 25%;}
.NAVtbl .NAVskjemaIdCol { width: 25%;}

/*****************************************************************
*
*	NAVtextController - control published contents trough heritage
*
******************************************************************/
.NAVtextController ul { list-style-type: square; list-style-position: outside; margin: 5px 0px 8px 16px; }
.NAVtextController h1, .NAVtextController h2, .NAVtextController h3, .NAVtextController h4, .NAVtextController h5 { margin-top: 13px; font-size: 1em; color: #675C53;}
.NAVtextController ol { list-style: decimal; list-style-position: outside; margin: 5px 0px 8px 22px;}
.NAVtextController strong, .NAVtextController b { color: #3E3832;}
.NAVtextController p { margin-top: 0.5em; margin-bottom: 0em; }
.NAVtextController ul a { color: #0074C4!important;}
.NAVtextController ul a:visited { color: #8B32E5!important; }
.NAVtextController li { margin-bottom: 0.2em; }
.NAVtextController h5 { background-image: none;}

/************************************************
*
*	Site containers
*
*************************************************/
#NAVheaderContainer, #NAVcenterContainer, #NAVborderBottomCenter { width: 99.5%; /*98.3%;*/ margin-left: 0.25%; /*0.9%;*/ display: inline; max-width: 1400px;}
#NAVheaderContainer { float: left; }
#NAVcenterContainer { float: left; }
#NAVcenterContainer { background-color: #C30000; }

#NAVborderBottomLeft { float: left; height: 12px; width: 100%; background-image: url('/common/images/global/borderbottomleft.gif'); background-repeat: no-repeat; background-position: top left;}
#NAVborderBottomRight { float: left; height: 12px; width: 100%; background-image: url('/common/images/global/borderbottomright.gif'); background-repeat: no-repeat; background-position: top right; }
#NAVborderBottomCenter { float: left; background-image: url('/common/images/global/borderbottom.gif'); background-repeat: repeat-x; background-position: top left; height: 12px;}

/**********************************************************
*
*	Containers in headerContainer
*
**********************************************************/
#NAVheaderContainer #NAVheaderContentContainer { float: left; width: 100%; margin-top: 8px;}
#NAVheaderContainer #NAVheaderContentContainer { background-image: url('/common/images/global/headerbackground.gif'); background-repeat: repeat-x; background-position: 0px 48px;}
#NAVheaderContainer #NAVheaderContentContainer .NAVlogoContainer { float: left; margin-left: 18px; margin-top: 4px; }
#NAVheaderContainer #NAVheaderContentContainer .NAVlogoContainer img { float: left;}
#NAVheaderContainer #NAVheaderContentContainer a { color: #3E3832;}
#NAVheaderContainer #NAVheaderContent { float: right; margin-right: 10px; }
#NAVheaderContainer #NAVheaderContent .NAVavailabilityLinksRight { text-align: right; }
#NAVheaderContainer #NAVheaderContent .NAVavailabilityLinksRight a { margin-left: 15px; }
#NAVheaderContainer #NAVheaderContent .NAVavailabilityLinksRight .NAVswitchFontLink { margin-right: 1px;}
#NAVheaderContainer #NAVheaderContent .NAVavailabilityLinksRight .NAVsizeLinks { margin-left: 1px; margin-right: 0px;}
#NAVheaderContainer #NAVheaderContent .NAVservicesTop { margin-top: 5px; }
#NAVheaderContainer #NAVheaderContent .NAVservicesTop form { display: inline;}
#NAVheaderContainer #NAVheaderContent .NAVservicesTop a { margin-right: 10px;}
#NAVheaderContainer #NAVheaderContent .NAVservicesTop .NAVheadBtn { margin-right: 17px;}
#NAVheaderContainer #NAVheaderContent .NAVservicesTop .NAVbtn { margin-left: 5px;}

#NAVheaderContainer #NAVmenu { margin-right: 5px; float: right; }
#NAVheaderContainer #NAVmenu ul { list-style: none; float: left; }
#NAVheaderContainer #NAVmenu ul li, #NAVheaderContainer #NAVmenu ul li a { float: left; }
#NAVheaderContainer #NAVmenu img { height: 2.75em; }

/*********************************************************
*
*	Containers in centerContainer
*
*********************************************************/
#NAVborderLeft { float: left; width: 100%; background-image: url('/common/images/global/borderleft.gif'); background-repeat: repeat-y; background-position: left top; }
#NAVborderRight { float: left; width: 100%; background-image: url('/common/images/global/borderright.gif'); background-repeat: repeat-y; background-position: right top; }

/************** contentSpacerContainer **************/
#NAVcontentSpacerContainer { margin: 0em 7px 0em 29px; }
#NAVcontentSpacerOperaFix { float: left; padding-bottom: 22px; width:100%;}

/************** pageTitleContainer *******************/
#NAVpageTitleContainer { text-align:left; margin-top: 20px; margin-bottom: 15px; float: left; width: 100%;}
#NAVpageTitleContainer { background-image: url('/common/images/global/pagetitlebackground.gif'); background-repeat: repeat-x; background-position: bottom left; }
#NAVpageTitleContainer h1 { color: #FFFFFF; margin-left: 14px; padding-top: 17px;}
#NAVpageTitleContainer h1 span { color: #FFFFFF;}

/* icons in top of page (title) */
#NAViconJobbOgArbeidsliv { background-image: url('/common/images/page/iconjobbogarbeidslivsmall.gif');}
#NAViconFamilieOgOmsorg { background-image: url('/common/images/page/iconfamilieogomsorgsmall.gif');}
#NAViconPensjon { background-image: url('/common/images/page/iconpensjonsmall.gif'); }
#NAViconHelsetjenester { background-image: url('/common/images/page/iconhelsetjenestersmall.gif');}
#NAViconUtland { background-image: url('/common/images/page/iconutlandsmall.gif');}
#NAViconTallOgAnalyse { background-image: url('/common/images/page/icontalloganalysesmall.gif');}
#NAViconAkershus { background-image: url('/common/images/page/iconakershussmall.gif');}
#NAViconAustAgder { background-image: url('/common/images/page/iconaustagdersmall.gif');}
#NAViconBuskerud { background-image: url('/common/images/page/iconbuskerudsmall.gif');}
#NAViconFinnmark { background-image: url('/common/images/page/iconfinnmarksmall.gif');}
#NAViconHedmark { background-image: url('/common/images/page/iconhedmarksmall.gif');}
#NAViconHjelpemidler { background-image: url('/common/images/page/iconhjelpemidlersmall.gif');}
#NAViconHordaland { background-image: url('/common/images/page/iconhordalandsmall.gif');}
#NAViconMoreOgRomsdal { background-image: url('/common/images/page/iconmoreogromsdalsmall.gif');}
#NAViconNordland { background-image: url('/common/images/page/iconnordlandsmall.gif');}
#NAViconNordTrondelag { background-image: url('/common/images/page/iconnotdtrondelagsmall.gif');}
#NAViconOmNav { background-image: url('/common/images/page/iconomnavsmall.gif');}
#NAViconOppland { background-image: url('/common/images/page/iconopplandsmall.gif');}
#NAViconOslo { background-image: url('/common/images/page/iconoslosmall.gif');}
#NAViconOstfold { background-image: url('/common/images/page/iconostfoldsmall.gif');}
#NAViconRogaland { background-image: url('/common/images/page/iconrogalandsmall.gif');}
#NAViconSognOgFjordane { background-image: url('/common/images/page/iconsognogfjordanesmall.gif');}
#NAViconSorTrondelag { background-image: url('/common/images/page/iconsortrondelagsmall.gif');}
#NAViconTelemark { background-image: url('/common/images/page/icontelemarksmall.gif');}
#NAViconTroms { background-image: url('/common/images/page/icontromssmall.gif');}
#NAViconVestAgder { background-image: url('/common/images/page/iconvestagdersmall.gif');}
#NAViconVestfold { background-image: url('/common/images/page/iconvestfoldsmall.gif');}
#NAViconEures { background-image: url('/common/images/page/iconeuressmall.gif');}

#NAViconJobbOgArbeidsliv, #NAViconFamilieOgOmsorg, #NAViconPensjon, #NAViconHelsetjenester, #NAViconUtland, #NAViconTallOgAnalyse,
#NAViconAkershus, #NAViconAustAgder, #NAViconBuskerud, #NAViconFinnmark, #NAViconHedmark, #NAViconHjelpemidler,
#NAViconHordaland, #NAViconMoreOgRomsdal, #NAViconNordland, #NAViconNordTrondelag, #NAViconOmNav, #NAViconOppland, #NAViconOslo,
#NAViconOstfold, #NAViconRogaland, #NAViconSognOgFjordane, #NAViconSorTrondelag, #NAViconTelemark, #NAViconTroms, #NAViconVestAgder,
#NAViconVestfold, #NAViconEures { background-repeat: no-repeat; background-position: top right; margin-right: 20px;}

/***********************************************************
*
*	personalizedNavigation 
*
************************************************************/
#NAVpersonalizedNavigation { float: left; width: 100%; text-align: right; min-height: 45px; background-image: url('/common/images/pageforside/bgpersonalizednav.gif'); background-repeat: repeat-x; background-position: top left;}
#NAVpersonalizedNavigation form { display: inline;}
#NAVpersonalizedNavigation select { margin-right: 5px;}
#NAVpersonalizedNavigation input { margin-right: 20px;}
#NAVpersonalizedNavigation #NAVbreadcrumbContainer { float: left;}
#NAVpersonalizedNavigation .NAVselectContainer { float: right; margin-top: 13px;}

/**********************************************************
*
*	pageImage - Section frontpage titlefield
*
***********************************************************/
#NAVpageImage { float: left; width: 100%; background-repeat: no-repeat; min-height: 12.8em; margin-top: 22px; background-color: #C30000; }
#NAVpageImage .NAViconContainer { padding-bottom: 7px; margin-bottom: 5px; background-image: url('/common/images/global/pagetitlebackground.gif'); background-repeat: repeat-x; background-position: bottom left;}
#NAVpageImage .NAViconContainer .NAVDineSiderloggin { margin-left: 45px; font-size: 1.4em; margin-top: 7px; display: block;}
#NAVpageImage h1 { line-height: 1em; color: #FFFFFF; padding: 0px 0em 0em 45px; margin-top: 20px;}
#NAVpageImage h1 { background-image: url('/common/images/icons/arrowmasterheader.gif'); background-position: 0em 3px; background-repeat: no-repeat; }
#NAVpageImage h1 br {margin: 0; padding: 0; border-width: 0; line-height: 0em;}
#NAVpageImage a { text-decoration: none; color: #FFFFFF;}

#NAVpageForsiden .NAViconContainer { margin-left: 590px; }
#NAVpageForsiden .NAViconContainer .NAViconPlaceHolder { float: right;}
#NAVpageJobbOgArbeidsliv .NAViconContainer { margin-left: 530px;}
#NAVpageJobbOgArbeidsliv .NAViconContainer .NAViconPlaceHolder { background-image:url('/common/images/page/iconjobbogarbeidsliv.gif'); margin-right: 25px; background-repeat: no-repeat; background-position: top right; height: 90px; float: right; width: 90px;}
#NAVpageFamilieOgOmsorg .NAViconContainer { margin-left: 530px;}
#NAVpageFamilieOgOmsorg .NAViconContainer .NAViconPlaceHolder { background-image:url('/common/images/page/iconfamilieogomsorg.gif'); margin-right: 25px; background-repeat: no-repeat; background-position: top right; height: 90px; float: right; width: 90px;}
#NAVpageHelsetjenester .NAViconContainer { margin-left: 530px;}
#NAVpageHelsetjenester .NAViconContainer .NAViconPlaceHolder { background-image:url('/common/images/page/iconhelsetjenester.gif'); margin-right: 25px; background-repeat: no-repeat; background-position: top right; height: 90px; float: right; width: 90px;}
#NAVpagePensjon .NAViconContainer { margin-left: 530px;}
#NAVpagePensjon .NAViconContainer .NAViconPlaceHolder { background-image:url('/common/images/page/iconpensjon.gif'); margin-right: 25px; background-repeat: no-repeat; background-position: top right; height: 90px; float: right; width: 90px;}

/****************************************************
*
*	pageContainer - containers in content
*
*****************************************************/
#NAVpageContainer { float: left; width: 100%; background-color: #F9F8F7;}
#NAVpageContainer .NAVtopSpacing { height: 2em; clear: left;}
#NAVpageContainer .NAVtopSpacingFrontPage { height: 14px; clear: left;}
#NAVpageContainer #NAVsubmenuContainer { width: 24.2%; /*22%;*/ float: left; margin-right: 1.8%;/*2.9%;*/ }
#NAVpageContainer #NAVcontentContainer { width: 48.5%; /*48.5%;*/ float: left;}
#NAVpageContainer #NAVrelevantContentContainer { width: 23%; /*23.35%;*/ float: right; }
#NAVpageContainer #NAVfooterContainer { clear: both; width: 100%; padding-top: 2em; margin-bottom: 2em; text-align: center;}
#NAVfooterContainer a { margin-right: 5px;}
#NAVpageContainer #NAVtwoColumnContainer { float: left; width: 73%; }
#NAVpageContainer #NAVoneColumnContainer { padding: 0em 1em 0em 1em; }

/******************* submenuContainer *************/

/* Expired? */
#NAVsubmenuContainer .NAVmenuPartTwo { margin-top: 2em;}
#NAVsubmenuContainer .NAVmenuPartTwo span { font-size: 2.3ex; color: #B7B1A9; margin-left: 10px;}

#NAVsubmenuContainer h5 { padding-left: 20px;}

/************* Containere i innholdet *****************/

/* Searchresult FAST */
.NAVSearchResultContainer { float: left; width: 80%;}
.NAVSearchResultContainer li { margin-bottom: 10px;}
.NAVsearchResultRightContainer { float: left; width: 20%; }
.NAVsearchFirstLine { background-image: url('/common/images/global/dashedhorizontal.gif'); background-repeat: repeat-x; background-position: bottom left; /*margin-bottom: 5px;*/ padding-bottom: 2px;}
.NAVsearchFirstLine a { font-weight: bold;}
.NAVsearchIngress { color: #988F86;}
.NAVsearchHitBody { margin-left: 19px; margin-top: 5px;}
.NAVformBoxSearch { background-color: #F1F0ED; padding: 15px 18px 15px 18px; margin-bottom: 4px;}
.NAVformBoxSearch a { margin-left: 5px;}
.NAVsearchResultRightContainer strong { color: #3E3832; }
.NAVsearchResultRightContainer h5 { padding: 0px 0px 2px 0px!important; margin: 4px 0px 10px 0px;}
.NAVsearchResultRightContainer .dashedLine { margin-bottom: 10px;}
.NAVsearchList { width: 98%;}
.NAVsearchResultInput { width: 250px;}
.NAVsearchFloat { float: left;}
.NAVShowHitsOfType { float: left; width: 100%; /*clear: left;*/ margin-top: 8px;}
.NAVSearchNavigationTop { margin-left: 15px; margin-top: 5px;}

.NAVnewsTwoColumSeperator { clear: both; height: 0px; font-size: 0px;}

.NAVnewsExtra h2 a, .NAVnewsExtra h2 a:visited  { color: #675C53;}
.NAVnewsNoMarginBottom { margin-bottom: 0px!important;}

.NAVnewsArchiveNavigation { clear: left; margin-left: 10px; padding-top: 10px;}

.ingress { font-weight: bold;}

.NAVformBox { background-color: #F1F0ED; padding: 15px 0px 15px 0px; margin-bottom: 4px; float: left; width: 100%;}
.NAVformBox label { float: left; width: 200px; margin-left: 10px; }
.NAVformBox input, .NAVformBox select, .NAVformBox textarea, .NAVformBox .NAVbtnContainer { float: left; display: inline; }
.NAVformBox .NAVbtn { margin-left: 5px; margin-right: 0px; }
.NAVformBox span { margin-left: 20px; font-weight: bold;}
.NAVformBox .NAVbtnContainer { margin-left: 205px; float: left;}
.NAVformBox .NAVsmallInput { width: 60px;}
.NAVformBox .NAVmediumInput { width: 150px;}
.NAVformBox .NAVlargeInput { width: 200px;}
.NAVformBox textarea { width: 200px; height: 60px; }
.NAVformBox select { margin-right: 5px;}
.NAVformBox .NAVlblWidth { width: 9em;}

.NAVsortBox { background-color: #F1F0ED; padding: 15px 0px 15px 0px; margin-bottom: 4px; float: left; width: 100%;}
.NAVsortBox span { margin-left: 10px; font-weight: bold;}
.NAVsortBox .NAVbtn { margin-left: 10px;}

/* Course page */
.NAVcourseInfoBox { margin-bottom: 10px; padding-left: 10px;}
.NAVcourseInfoBox span { font-weight: bold;}
.NAVcourseInfoBox div { margin-bottom: 5px;}

/* Alphabetsite */
.NAValfabetNavigation { width: 80%; margin-bottom: 10px; float: left;}
.NAVdashedLineAlfabet { margin: 0px 0px 10px 0px;}

.NAVpageSection { margin-top:4px; background-color: #E0DED8; float: left; width: 100%; padding: 5px 0px 5px 0px; }
.NAVpageSection span, .NAVpageSection label { margin-left: 7px;}

.NAVfaqAnswer { margin-top: 15px; margin-bottom: 25px;}

.NAVhaandbokNavigationContainer .NAVprev { float: left; margin-left: 11px;}
.NAVhaandbokNavigationContainer .NAVnext { float: right; display: block;}

/* Unitpage */
.NAVcontact .NAVpageFooter { padding: 0.7em 0em 0.7em 0em;}
.NAVcontact h2 { margin: 0em 0em 1em 0em;}

/**************** relevantContentContainer **************/
#NAVrelevantContentContainer ul { margin: 12px 3px 0px 20px;}
#NAVrelevantContentContainer ul li { margin-bottom: 0.3em; padding-right: 3px;}
#NAVrelevantContentContainer h5 { margin-left: 10px;}
#NAVrelevantContentContainer .NAVlnkMerOm, #NAVrelevantContentContainer .NAViconPrint { margin-left: 20px; margin-top: 10px; display: block;}

#NAVrelevantContentContainer .NAVleftMargin { margin-left: 0.5em;}
#NAVrelevantContentContainer .NAVcountyForm { margin-bottom: 2em; margin-left: 20px;}

#NAVrelevantContentContainer .NAVkeyNumbers strong { color: #3F3832; }

#NAVrelevantContentContainer .NAValfabet { padding: 1em 0em 0em 0.5em;}
#NAVrelevantContentContainer .NAVcalendarItem { margin-left: 0px;}

#NAVrelevantContentContainer .NAVrelevantIcon { margin: 0px 6px 0px 0px; padding: 0px;}
#NAVrelevantContentContainer .NAVwarningHeading { color: #C30000; padding-left: 0px;}

/****************************************************
*
*	errorPage
*
*****************************************************/
#NAVerrorPage h1 { color: #CE3231; background-image: url('/common/images/tjenester/headerbackground.gif'); background-repeat: repeat-x; background-position: bottom left;}
#NAVerrorPage p { font-size: 1.2em; margin-top: 20px; color: #675C53; }
#NAVerrorPage .NAVlinkContact { margin-top: 30px; display: block; font-size: 1.2em;}

/*********************************************************
*
*	Large table site
*
**********************************************************/
#NAVlargeTableHeader { background-color: #C30000; height: 7em; margin-bottom: 14px;}
#NAVlargeTableHeader img { margin: 8px 0px 8px 1em;}
.NAVlargeTableContentContainer { padding: 1em;}
.NAVlargeTableBody { background-color: #F9F8F7;}
