/** NAV override*/
.NAVtbl th a, .NAVtbl th a:visited {color: #675C53; text-decoration:none;}
.NAVtbl th { vertical-align: bottom;}

.NAVavbryt fieldset {border:0px;padding:0px;margin:0px; width:auto; float:right; }
.NAVavbryt fieldset li {margin:0em 0em 0em 0.4em;}
.NAVavbryt fieldset ul {padding:0px;margin:0px; float:right;}
.NAVavbryt fieldset ul li {float:right;}
#NAVpageHelp {float:right;}
#NAVpageHelp a:hover{text-decoration:none;}

.NAVtbl .noMarginPadding {margin:0em;padding:0em;}
.grayContent td {background-color:#EFEFEE;}

/**Nav override, Changing the header font to white and the background to red.*/
#NAVtjenesterHeaderContainer { background: #C30000; min-height: 3em; padding: 10px 0px 14px 14px;}
#NAVtjenesterHeaderContainer h1 { float: left; color: #FFFFFF;}
#NAVtjenesterHeaderContainer .NAVtjenesteLoginContainer {width:50%; }
#NAVtjenesterHeaderContainer .NAVtjenesteLoginContainer strong  {color: #FFFFFF ;}
#NAVtjenesterHeaderContainer .NAVtjenesteLoginContainer {float:right;}
#NAVtjenesterHeaderContainer .NAVtjenesteLoginContainer fieldset ul{float:right; width:auto;}

/**NAV override */
#NAVtjenesterHeaderContainer .NAVtjenesteLoginContainer {color: #FFFFFF;}
/**IE bug in main.css does not work for IE6 (this does how ever)*/
#NAVheaderContainer, #NAVcenterContainer, #NAVborderBottomCenter { width: 99.5%; //width:95.2%; margin-left: 0.25%;  //margin-left:0.9%; display: inline; max-width: 1400px;}

/**NAV override, menu*/
#NAVsubmenuContainer {padding:0em 0em 0em 1em; margin:0em;}
#NAVsubmenuContainer ul li  { background-image: url('/common/images/global/dashedhorizontal.gif'); background-repeat: repeat-x; background-position: bottom left; padding: 3px 0px 3px 7px; margin-bottom: 8px; }
#NAVsubmenuContainer ul li a:hover { font-weight: bold; text-decoration:none;}
#NAVsubmenuContainer ul li li {background-image: none; }

/** Does not exsist in NAV stander css files. */
.NAVformAreaLeft {width:50%;}
.NAVformAreaRight {width:50%; }

/** overide */
fieldset {border:0em;margin:0em;padding:0em; width:100%;}
fieldset ul {float:left; width:100%;}
fieldset li {float:left;margin:0.2em;}

.inputbox option{width:10em;}

/*Right "help" meny container*/
#NAVrelevantContentContainer fieldset {margin:0em; padding: 0em;}
#NAVrelevantContentContainer fieldset ul{margin: 0em; padding: 0em;}
#NAVrelevantContentContainer fieldset li{margin: 0em; padding: 0em;}
#NAVrelevantContentContainer fieldset li h5 {padding:0em; margin: 0em;}

/** ramme override */
#NAVpageContainer .noLeftMenu{ width: 99.5%; /* 90.5%;*/ float: left;}
#NAVpageContainer #noHelpMenu{ width: 99.5%; /* 90.5%;*/ float: left;}
#noHelpMenu #NAVcontentContainer {width:72.5%;}

/** Option boxes */
.languageOptionBox option{width: 8.1em;}
.sivilstandOptionBox option{width:10.9em;}

/** tabbed table */
#NAVtabBarContainer { display:block; background-color:#F9F8F7;}
#NAVtabBarContainer li { float:left; text-align:center; padding-left:1px; padding-right: 4px; background-image: url('/images/global/fastnavrightborder.gif'); background-repeat: repeat-y; background-position: top right; }
#NAVtabBarContainer li a { background-color:#EFEFEE; font-weight:normal; color:#675C53; padding:0.5em 0.2em 0.5em 0.2em; height:2em; line-height:2em; }
#NAVtabBarContainer li a.active { background-color:#FFFFFF; font-weight:bold; color:#675C53; padding:0.5em 0.2em 0.5em 0.2em; height:2em; line-height:2em; }
#NAVtabBarContainer div{margin-bottom:0.3em;}
#NAVtabBarContainer .NAVtbl {float:left;}
#NAVtabBarContainer .NAVtbl td {margin:0em;padding:0.4em;}
.NAVtabBar li{float:left; padding:0em; margin:0em}

/** extra space */
.extraLineHeight {line-height: 2.8em;}
.extraLineHeight label{margin-left: 0.5em;}

/** Image utils */
.helpInPageImage {margin-bottom:-0.4em;}
.helpInPageImageVerticalCenter {padding-top:0.8em;}

.emulateHelpIcon{height:23px;width:19px;display:block;}
.emulateCopyIcon{width:18px;height:18px;display:block;}
.emulateLinkIcon{width:16px;height:16px;display:block;}

/** text alignment */
.alignRight {text-align:right;}
.alignMiddle {text-align: middle;}
.alignLeft {text-align:left;}

/*what is this?? */
.leftColumn {text-align:left;width:70%;}
.rightColumn {text-align:right;width:15%;}

/** block alignment */
.floatLeft {float: left;}
.floatRight {float: right;}

/** Radiobutton table (remove extra space) */
.noMarginPadding table td{margin:0em;padding:0em;}

/** width sizes */
.widthSmall{width:7em;}

/** padding to create space */
.paddingNormal {padding: 0.5em;}
.paddingContent div{padding:0em 0.2em 0.2em 0.2em;}

/** Colors */
.redStar{color: #CE3231;}

/** column widths */
.columnVerySmall{width:4%}
.columnExtraExtraMinus {width: 5%}
.columnExtraExtra {width: 10%}
.columnExtraExtraPluss { width:15%}
.columnExtraSmall {width:20%;}
.columnExtraSmallPluss {width:25%;}
.columnSmall {width:30%;}
.columnSmallPluss {width:35%;}
.columnMediumSmall {width:40%;}
.columnMediumMinus{width:45%;}
.columnMedium{width:50%;}
.columnMediumPluss{width: 55%;}
.columnMediumLong{width: 60%;}
.columnLongMinus{width: 65%;}
.columnLongSmall{width:70%;}
.columnLong{width: 75%;}
.columnLongPluss{width: 80%;}
.columnExtraLong{width: 100%;}

/** Fonts */
.normalFont { font-weight: normal; }

/* Loggin module */
.loginModuleFirstContent{ font-size:600%; font-weight:bold; background-color: #dee573; margin-right:4px; border:1px solid #94994c; padding:20px; float:left; clear:both; height:100%;}
.loginModuleSecondContent {font-size:600%; font-weight:bold; background-color: #e5b473; margin-right:4px; border:1px solid #99784c; padding:20px; float:left; clear:both; height:100%; }

/* lists */
/** must have #NAVrele... in front does not work in helpmenu without it :( */
#NAVrelevantContentContainer .squareList li {list-style: square inside;}
#NAVrelevantContentContainer .squareList ul {padding:0em;margin:0em;}
#NAVrelevantContentContainer .squareList td {padding:0em;margin:0em; }

.squareList li {list-style: square inside;}
.squareList ul {padding:0em;margin:0em;}
 squareList td {padding:0em;margin:0em; }

/** Input text, buttons etc*/
.BtnMargin {margin-right:0.5em;}
.inputTextFieldLong {width:100%; height:10em;}

/** Message layout..*/
.redFrame{border:1em solid #C30000; padding:0.7em}	

/** Global message box. */
.NAVGlobalErrorBox { border: 1px dashed #CE3231; display: block; padding: 5px 20px 5px 20px; margin-bottom: 10px; }

/** Block html elemens / unblock elements*/
.displayBlock {display:block;}
.displayNone {display:none;}

/** Bullets used for references*/
#referencContainer ul{ list-style: disc; margin:0em; padding:0.1em 0em 0.6em 1.2em;}
#referencContainer li a{ font-size:0.95em; color: #000000;}