<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="NAV UML Profile"
         name="NAV UML Profile"
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="NAV_UML_PROFILE"
            plugin="no.stelvio.esb.models.service.uml.profile"
            path="profiles">
      </pathmap>
   </extension>
   <extension
         id="NAV UML Profile UMLProfiles"
         name="NAV UML Profile UMLProfiles"
         point="com.ibm.xtools.uml.msl.UMLProfiles">
      <UMLProfile
            name="NAV UML Profile"
            path="pathmap://NAV_UML_PROFILE/NAV_UML_Profile.epx"
            visible="true"
            required="false"
            id="nav.no.rsa.uml.profile.NAV UML Profile">
      </UMLProfile>
   </extension>

</plugin>
