<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="transformationRunner"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="no.stelvio.esb.models.transformation.diagram2img.headless.DiagramToImageFileTransformationRunner">
         </run>
      </application>
   </extension>
</plugin>
