<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Avansert variant av tjenestebeskrivelsesgenerering, hvor man angir hvilken kodestrøm og hvilken modul som skal bygges FØR tjenestebeskrivelsesgenerering-skriptet starter. Dette sikrer at SNAPSHOT-versjon av grensesnittet har blitt bygget før skriptet kjører.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SVN</name>
          <description>SVN-sti til tjenestespesifikasjonen som skal bygges.</description>
          <defaultValue>https://versjonskontroll.adeo.no/svn/nav/branches/tjenester/FEATURE_BRANCH_D20151117_2016HL2/spesifikasjon/implementasjon/tredjegenerasjon/virksomhet/nav-innsynJournal-v1-tjenestespesifikasjon</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ConfluencePageId</name>
          <description>Confluence pageId til siden som skal oppdateres.</description>
          <defaultValue>162750970</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Slett forrige svn-utsjekking:
if [ -d &quot;./tjenestebeskrivelse&quot; ]
then
	rm -rf ./tjenestebeskrivelse
fi

# Sjekk om svn-argument begynner på http:
if [[ ${SVN:0:4} != &apos;http&apos; ]]
then
	echo &quot;UGYLDIG SVN-sti!&quot;
    exit 1
else
	# step 1: Sjekk ut fra svn:
    svn co &quot;${SVN}&quot; tjenestebeskrivelse
    
    # step 2: Bygg med maven:
    cd tjenestebeskrivelse
    mvn clean deploy
    cd ..
    
    # step 3: Start skript
    ~/bin/oppdaterTjenestebeskrivelseAvansert.py ${ConfluencePageId} tjenestebeskrivelse/pom.xml
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>