<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>hudson-plugins-clearcase-ClearCasePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-tasks-TasksPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-checkstyle-CheckStylePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>blockBuildWhenDownstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>org-hudsonci-plugins-snapshotmonitor-SnapshotTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>hudson-queueSorter-PrioritySorterJobProperty</string>
      <base-property>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>logRotator</string>
      <log-rotator-property>
        <originalValue class="hudson.tasks.LogRotator">
          <daysToKeep>-1</daysToKeep>
          <numToKeep>3</numToKeep>
          <artifactDaysToKeep>-1</artifactDaysToKeep>
          <artifactNumToKeep>-1</artifactNumToKeep>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </log-rotator-property>
    </entry>
    <entry>
      <string>hudson-plugins-pmd-PmdPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-violations-ViolationsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-descriptionsetter-DescriptionSetterPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>blockBuildWhenUpstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-plugins-git-GitPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyNotifier</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Mailer</string>
      <external-property>
        <originalValue class="hudson.tasks.Mailer">
          <recipients>test@example.com</recipients>
          <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
          <sendToIndividuals>true</sendToIndividuals>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-tasks-test-AggregatedTestResultPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-junit-JUnitResultArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.junit.JUnitResultArchiver">
          <testResults>esb-soap-tests/reports/TEST-*.xml</testResults>
          <keepLongStdio>false</keepLongStdio>
          <testDataPublishers/>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Fingerprinter</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-sonar-SonarPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList"/>
        <propertyOverridden>false</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>join-JoinTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-JavadocArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-warnings-WarningsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-emailext-ExtendedEmailPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-chucknorris-CordellWalkerRecorder</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-BuildTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-SCMTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Maven>
            <targets>eviware:maven-soapui-plugin:test -Dsoapui.projectfile=Rettskilder-soapui-project.xml -Dsoapui.host=e34apsl00638.devillo.no</targets>
            <mavenName>(Default)</mavenName>
            <usePrivateRepository>false</usePrivateRepository>
          </hudson.tasks.Maven>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>hudson-plugins-clearcase-ucm-UcmMakeBaselineComposite</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-clearcase-ucm-UcmMakeBaseline</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-postbuildtask-PostbuildTask</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>jdk</string>
      <string-property>
        <originalValue class="string">(Default)</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>concurrentBuild</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>hudson-plugins-parameterizedtrigger-BuildTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-cigame-GamePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.scm.SubversionSCM">
          <locations>
            <hudson.scm.SubversionSCM_-ModuleLocation>
              <remote>https://versjonskontroll.adeo.no/svn/nav/branches/int/FEATURE_BRANCH_8_0_0_D20131118_2014HL3/esb-soap-tests</remote>
              <ignoreExternalsOption>false</ignoreExternalsOption>
            </hudson.scm.SubversionSCM_-ModuleLocation>
          </locations>
          <browser class="hudson.scm.browsers.ViewSVN">
            <url>http://versjonskontroll.adeo.no/viewsvn/?root=nav</url>
          </browser>
          <excludedRegions></excludedRegions>
          <includedRegions></includedRegions>
          <excludedUsers></excludedUsers>
          <excludedRevprop></excludedRevprop>
          <excludedCommitMessages></excludedCommitMessages>
          <useUpdate>true</useUpdate>
          <doRevert>false</doRevert>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
    <entry>
      <string>hudson-plugins-findbugs-FindBugsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactFingerprinter</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-TimerTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <creationTime>0</creationTime>
  <properties>
    <hudson.queueSorter.PrioritySorterJobProperty>
      <priority>100</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
  </properties>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-queueSorter-PrioritySorterJobProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.SubversionSCM" reference="../project-properties/entry[39]/scm-property/originalValue"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>