<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	nav-cons-deploy-verifikasjonWebClient</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
    <service-ref>
        <description>WSDL Service VerfikasjonWSExp_VerifikasjonHttpService</description>
        <service-ref-name>service/VerfikasjonWSExp_VerifikasjonHttpService</service-ref-name>
        <service-interface>nav_cons_deploy_verifikasjon.VerfikasjonWSExp_VerifikasjonHttpService</service-interface>
        <wsdl-file>WEB-INF/wsdl/inf/nav-cons-deploy-verifikasjon_VerfikasjonWSExp.wsdl</wsdl-file>
        <jaxrpc-mapping-file>WEB-INF/nav-cons-deploy-verifikasjon_VerfikasjonWSExp_mapping.xml</jaxrpc-mapping-file>
        <service-qname xmlns:pfx="http://nav-cons-deploy-verifikasjon/nav/no/deploy/inf/Verifikasjon/Binding">pfx:VerfikasjonWSExp_VerifikasjonHttpService</service-qname>
        <port-component-ref>
            <service-endpoint-interface>nav_cons_deploy_verifikasjon.Verifikasjon</service-endpoint-interface>
        </port-component-ref>
    </service-ref>
</web-app>
