<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Environment</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>u3</string>
              <string>t1</string>
              <string>t4</string>
              <string>t10</string>
              <string>u2</string>
              <string>u55</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Applications</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>pepgwsbs:1.1.3</string>
              <string>pepgwsbs:1.1.4-SNAPSHOT</string>
              <string></string>
              <string>servicegwpepsbs:0.0.1</string>
              <string>servicegwpepsbs:0.0.1-SNAPSHOT</string>
              <string></string>
              <string>servicegwroutersbs:0.0.1</string>
              <string>servicegwroutersbs:0.0.1-SNAPSHOT</string>
              <string></string>
              <string>stssbs:0.0.1</string>
              <string>stssbs:0.0.1-SNAPSHOT</string>
              <string></string>
              <string>simpleloopbackservice:0.0.1-SNAPSHOT</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>User</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>Password</name>
          <description></description>
          <defaultValue>0Gzcr5Rxo1mQN3O12Y7xXg==</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>debug</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>deployerPluginVersion</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>0.0.11</string>
              <string>0.0.12-SNAPSHOT</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>EnvConfig</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>http://fasit.adeo.no/conf</string>
              <string>http://e34apsl00136.devillo.no:8080/conf</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dpHostnameFilter</name>
          <description>Hvis man ønsker å deploye bare til én node kan man bruke dette parameteret.
Det gjøres en String.contains på hostnavnet på datapower-boksen ved deploy. </description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="test@example.com">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://versjonskontroll.adeo.no/svn/aura/trunk/maven/poms/nav-init-pom</remote>
        <local>nav-init-pom</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/var/lib/jenkins/scripts/cleanRepo3gen.sh

#Oppretter mappe for NFS logging og restarter NFS Serveren på Jenkins (kun for U!)
app=$(echo $Applications | cut -d&quot;:&quot; -f1)
folder=&quot;/tmp/nfsshare/datapower/${Environment}_${app}&quot;
mkdir -p ${folder}
echo &quot;$folder 10.33.68.41(rw,sync,no_root_squash)&quot; &gt;&gt; /etc/exports
sudo service nfs restart</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean no.nav.maven.plugins:maven-datapower-deploy-plugin:${deployerPluginVersion}:deploy -e -B -U</targets>
      <mavenName>Maven 3</mavenName>
      <pom>${WORKSPACE}/pom.xml</pom>
      <properties>apps=${Applications}
env=${Environment}
username=${User}
password=${Password}
debug=${debug}
envConfigUrl=${EnvConfig}
dpHostnameFilter=${dpHostnameFilter}</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>app=$(echo $Applications | cut -d&quot;:&quot; -f1)
if [ $app == &quot;servicegwroutersbs&quot; ];
  then
    echo &quot;Updating service registry file...&quot;
    cd ${WORKSPACE}/nav-init-pom &amp;&amp; /usr/maven/latest/bin/mvn clean no.nav.maven.plugins:service-provisioning-maven-plugin:1.0.11-SNAPSHOT:router-provision -e -B -DenvConfigUrlString=https://fasit.adeo.no/conf -Denv=${Environment} -Dusername=${User} -Dpassword=${Password} -DdpAliases=dp-01,dp-02 -DdpDomainRouter=&quot;${Environment}_${app}&quot; -DdpDomainApplications=&quot;${Environment}_servicegwpepsbs&quot;
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper/>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="test@example.com">
      <template>#${BUILD_NUMBER}: ${ENV,var=&quot;Applications&quot;}@${ENV,var=&quot;Environment&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>