<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Denne jobben brukes til å manuelt provisjonere WSRR og synkronisere Datapower.&#xd;
Mer dokumentasjon finnes her: http://confluence.adeo.no/display/KES/Forsyningsprosessen+for+WSRR+og+service-gw</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Environment</name>
          <description>Miljø som skal oppdateres.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Username</name>
          <description>Adeo-ident til bruker som har tilgang til Fasit.</description>
          <defaultValue>admin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>Password</name>
          <description>Passord til bruker som har tilgang til Fasit.</description>
          <defaultValue>MD/1AS7GIw6dGgbLiVMJxBNHij3CRV1ID5x2Xo0Ozwc=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pluginVersion</name>
          <description>Versjon av service-provisioning-maven-plugin.</description>
          <defaultValue>1.2.0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>debug</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>dpFilter</name>
          <description>Liste over hvilke Datapower-ressurser som synkroniseres/forsynes.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>dp-01,dp-02</string>
              <string></string>
              <string>dp-01</string>
              <string>dp-02</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>SyncStrategy</name>
          <description>* onWSDLChange:
** Hvis det er endringer i WSDL-filer eller endepunktet på tjenester vil WS-Proxyer knyttet til tjenestene blir synkronisert mot WSRR.

* force:
** Alle WS-Proxyer som skal eksponere tjenester synkroniseres mot WSRR.
** Pluginet spør WSRR hvilke partition keys som er lagt på SLD-er. På denne måten slipper man å synke en tom WS-Proxy og få en error-melding.

* disabled:
** Ingen WS-Proxyer synkroniseres mot WSRR.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>onWSDLChange</string>
              <string>force</string>
              <string>disabled</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SyncOnlySGW2PepAndRouter</name>
          <description>* Hvis true, blir ingen tjenester forsynt til WSRR-tjenesteregister eller til Service-gw 1.0. 
** Det gjøres kun synkronisering mellom WS-Proxyer og WSRR basert på synkroniseringsstrategien og oppdatering av service-gw-router.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WSRRSavedSearchFilter</name>
          <description>Kommaseparert liste av WSRRSavedSearchSubscription-objekter.
F.eks. WSRRSavedSearchSubscription-1,WSRRSavedSearchSubscription-5

Denne lista fungerer som et filter for hvilke WS-Proxyer som skal synkroniseres mot WSRR.

* Hvis lista ikke er tom, vil kun WS-Proxyer tilknyttet objekter i denne lista synkroniseres. Selv med synkroniseringsstrategi = &apos;force&apos;.
* Hvis lista er tom, endrer ikke dette parameteret oppførselen til pluginet</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SecurityZoneFilter</name>
          <description>Gir mulighet til å kjøre forsyning og synkronisering mot kun én sikkerhetssone.

* Hvis satt til SBS, skal kun tjenester som er eksponert på service-gw i SBS forsynes og eventuelt synkroniseres fra Datapower.
* Hvis satt til FSS, skal kun tjenester som er eksponert på service-gw i FSS forsynes og eventuelt synkroniseres fra Datapower.
* Ellers skal det forsynes og synkroniseres til begge soner. Både SBS og FSS.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DisableParallelism</name>
          <description>* Hvis true, kjøres alt sekvensielt.
* Hvis false, kjøres det flere tråder parallelt.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Applications</name>
          <description>Kommaseparert liste av applikasjoner. Oppdaterer kun tjenester som blir eksponert av disse applikasjonene.
F.eks. sdpkanal:1.0.0,emottak-asynch:1.0.1</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="test@example.com">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://versjonskontroll.adeo.no/svn/aura/trunk/maven/poms/init-maven-pom</remote>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Oracle JDK 1.7</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>clean no.nav.maven.plugins:service-provisioning-maven-plugin:${pluginVersion}:provision -e -B -U </targets>
      <mavenName>Maven 3</mavenName>
      <properties>envConfigUrlString=https://fasit.adeo.no/conf
env=${Environment}
username=${Username}
password=${Password}
dpAliases=${dpFilter}
applications=${Applications}
logback.debug=${debug}
dpSyncStrategy=${SyncStrategy}
syncOnlySGW2PepAndRouter=${SyncOnlySGW2PepAndRouter}
dpWSRRSavedSearchFilter=${WSRRSavedSearchFilter}
securityZone=${SecurityZoneFilter}
disableParallelism=${DisableParallelism}
provisioningTimeout=10000000
provisioningWithoutApplicationTimeout=10000000
synchronizationTimeout=10000000</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>### Upload service-registry if the output folder exists
environmentUpperCase=`echo $Environment | awk &apos;{print toupper($0)}&apos;`
registryDestinationFolder=/data/service-registry/$environmentUpperCase
registrySourceFolder=${WORKSPACE}/init-maven-pom/target/output
xslReferenceString=&quot;&lt;?xml-stylesheet type=&apos;text/xsl&apos; href=&apos;../../service-registry-stylesheet_v2.xsl&apos;?&gt;&quot;

if [ -d &quot;$registrySourceFolder&quot; ]; then
    sed -i &apos;1 s:$:&apos;&quot;$xslReferenceString&quot;&apos;:&apos; ${registrySourceFolder}/service-gw-2.0/*_service-registry.xml || true
    ssh test@example.com &quot;mkdir -p $registryDestinationFolder&quot;
    scp -r $registrySourceFolder/* test@example.com:$registryDestinationFolder
fi

scp -r ${WORKSPACE}/service-registry-stylesheet_v2.xsl test@example.com:/data/service-registry/

#environmentUpperCase=`echo $Environment | awk &apos;{print toupper($0)}&apos;`
#registryDestinationFolder=/data/service-registry/$environmentUpperCase
##ssh test@example.com &quot;rm -r /data/service-registry/U42&quot;
#ssh test@example.com &quot;mkdir -p $registryDestinationFolder&quot;
#scp -r ${WORKSPACE}/init-maven-pom/target/output/* test@example.com:$registryDestinationFolder

##GAMMEL JOBB##
##scp -r ${WORKSPACE}/init-maven-pom/output/published/service-registry-SBS.xml test@example.com:/data/service-registry/`echo $Environment | awk &apos;{print toupper($0)}&apos;`-SBS
#scp -r ${WORKSPACE}/init-maven-pom/output/published/service-registry-FSS.xml test@example.com:/data/service-registry/`echo $Environment | awk &apos;{print toupper($0)}&apos;`-FSS
#scp -r ${WORKSPACE}/init-maven-pom/output/published/service-registry-stylesheet.xsl test@example.com:/data/service-registry/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="test@example.com">
      <recipients>test@example.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper/>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="test@example.com">
      <template>#${BUILD_NUMBER}: ${ENV,var=&quot;dpFilter&quot;}@${ENV,var=&quot;Environment&quot;} ${ENV,var=&quot;SecurityZoneFilter&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>