<cruisecontrol>
  <project name="nav-frg-arbeidsforhold">
    <modificationset QuietPeriod="200">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="projects/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-frg-person">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="600">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="build wsdl">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule>
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -Dant-target=build-all" time="0200" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/wsdl" PublishOnFailure="false" Dest="artifacts/${project.name}" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-frg-institusjonsopphold">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-frg-medlemskapsunntak">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-frg-navansatt">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-frg-navorgenhet">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-frg-samhandler">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" pomfile="projects/${project.name}/pom.xml" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-frg-tjenestepensjon">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-oko-trekk">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="projects/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-oko-utbetaling">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-sak-brukerprofil">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-sak-henvendelse">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-sak-oppgave">
    <modificationset QuietPeriod="0">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-sak-rettskilder">
    <modificationset QuietPeriod="200">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
  <project name="nav-pen-opptjening">
    <modificationset QuietPeriod="200">
      <svn Username="svnguest" Password="Subversion01" RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/workspaces/nav-int-workspaces" />
      <svn RepositoryLocation="https://versjonskontroll.adeo.no/svn/nav-test/pensjon/trunk/int/layers" Username="svnguest" Password="Subversion01" />
    </modificationset>
    <schedule Interval="7200">
      <maven2 mvnhome="C:/apps/maven-2.0.4" goal="scm:update clean test -DeclipseWorkSpace=${project.name}.psf" pomfile="e:/builds/${project.name}/pom.xml" />
    </schedule>
    <log LogDir="logs/${project.name}" />
    <publishers>
      <artifactspublisher Dir="e:/builds/${project.name}/target/classes/builds/logs" Dest="artifacts/${project.name}" PublishOnFailure="false" />
    </publishers>
    <listeners>
      <currentbuildstatuslistener File="logs/${project.name}/status.txt" />
    </listeners>
  </project>
</cruisecontrol>