<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Genererer følgende side (basert på RSA fra TRUNK):&#xd;
http://e34wasl00228.devillo.no/site/&#xd;
&#xd;
TODO: Fjerne gamle gamle kommandoer etter migrering</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="test@example.com">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://versjonskontroll.adeo.no/svn/nav/trunk/tjenester/spesifikasjon/design</remote>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>@monthly</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>svn update $HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design --username svnguest --password Subversion01 --no-auth-cache
#rm -rf $HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design/tredjegenerasjon
#rm -rf $HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design/domene-pensjon
#rm -rf $HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design/ekstern
#rm -rf $HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design/virksomhet
#rm -rf $HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design/system

echo &quot;FERDIG MED SVN1&quot;
### GAMMEL:
#svn update /home/ci/rsa-models/trunk/design --username svnguest --password Subversion01 --no-auth-cache
#rm -rf /home/ci/rsa-models/trunk/design/tredjegenerasjon
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo $DISPLAY
#DISPLAY=:0 
#export DISPLAY
#xvfb-run
#Xvfb :1 -screen 0 1024x768x24 +extension RANDR&amp;
# DISPLAY=:0
xvfb-run /opt/IBM/SDP2/eclipse -data &quot;$HOME/svn-repos/TRUNK/tjenester/spesifikasjon/&quot; -application no.stelvio.esb.models.transformation.uml2html.transformationRunner -inputDirPath &quot;$HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design/&quot; -outputDirPath &quot;/var/www/html/&quot; -consoleLog --displaystacktrace | tee $HOME/scripts/tempFiles/TRUNK_NAV-Tjenestebuss.log
echo &quot;FERDIG MED ECLIPSE1&quot;
sleep 1s

### GAMLE
#DISPLAY=:0 /opt/IBM/SDP/eclipse -data &quot;/home/ci/rsa-models/trunk/&quot; -application no.stelvio.esb.models.transformation.uml2html.transformationRunner -inputDirPath &quot;/home/ci/rsa-models/trunk/design/&quot; -outputDirPath &quot;/var/www/html/&quot; -consoleLog --displaystacktrace | tee /home/ci/nilssen-terje/log.txt
#sleep 1s</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>if grep -q &quot;MESSAGE Application error&quot; $HOME/scripts/tempFiles/TRUNK_NAV-Tjenestebuss.log; then
  exit 1;
else
  exit 0;
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#DISPLAY=:0 /opt/IBM/SDP2/eclipse -data &quot;$HOME/svn-repos/TRUNK/tjenester/spesifikasjon/&quot; -application no.stelvio.esb.models.transformation.diagram2img.transformationRunner -inputDirPath &quot;$HOME/svn-repos/TRUNK/tjenester/spesifikasjon/design/&quot; -outputDirPath &quot;/var/www/html/&quot; -consoleLog | tee $HOME/scripts/tempFiles/TRUNK_NAV-Tjenestebuss.log
sleep 1s</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>if grep -q &quot;MESSAGE Application error&quot; $HOME/scripts/tempFiles/TRUNK_NAV-Tjenestebuss.log; then
  exit 1;
else
  exit 0;
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>svn export --force https://versjonskontroll.adeo.no/svn/nav/trunk/tjenester/arkitekturmodeller/bildefiler/esb_tjenestemodell.jpeg /var/www/html/site/images/esb_tjenestemodell_v0.91.jpeg
svn export --force https://versjonskontroll.adeo.no/svn/nav/trunk/tjenester/arkitekturmodeller/bildefiler/esb_informasjonsmodell.jpeg /var/www/html/site/images/esb_informasjonsmodell_v1.1.jpeg
chmod -Rc 775 /var/www/html/site/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="test@example.com">
      <recipients>test@example.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>