<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>stelvio-example-metronome-publisher</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<service-ref>
		<service-ref-name>service/MetronomenMetronomenSPNB</service-ref-name>
		<service-interface>
			com.ibm.websphere.wsn.notification_broker.MetronomenMetronomenSPNB</service-interface>
		<wsdl-file>WEB-INF/wsdl/NotificationBroker.wsdl</wsdl-file>
		<service-qname xmlns:pfx="http://www.ibm.com/websphere/wsn/notification-broker">pfx:MetronomenMetronomenSPNB</service-qname>
		<port-component-ref>
			<service-endpoint-interface>
				com.ibm.websphere.wsn.notification_broker.NotificationBroker</service-endpoint-interface>
			<enable-mtom>false</enable-mtom>
		</port-component-ref>
	</service-ref>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Usikker</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>Usikker</role-name>
	</security-role>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>	
</web-app>