###############################################################################
####    JMS Queue Properties
###############################################################################
# Required Parameters
# Scope = cell | node | server | cluster

SCOPE=$scope
SCOPE_NAME=$scopeName

NAME=OppdragOnlineRequest
JNDI_NAME=jms/OppdragRequestJMSIMP_SEND_DT
CONNECT_QUEUE_NAME=oppdragOnlineRequest
BUSNAME=$busName

#
# Optional Parameters
DESC=Queue to handle mediation for OppdragOnline
DELIVERY_MODE=Application
TIME_TO_LIVE=
PRIORITY=
READ_AHEAD=AsConnection