###############################################################################
# J2C Connection Factory
###############################################################################
# SCOPE				= cell | node | server | cluster

SCOPE 				= $scope
SCOPE_NAME			= $scopeName
NODE_NAME 			= $nodeName


#Resource Adapter name 
RA_NAME				= ECIXAResourceAdapter

#J2C Connection Factory properties
NAME				= CICSUR
JNDI_NAME			= jndi/jca/UR
DESCRIPTION			= mot Ur

#Custom properties
CONNECTION_URL			= $connUrlCicsUr
PORT_NUMBER			= $portCicsUr
SERVER_NAME			= $serverNameUr

