###############################################################################
####    JMS Queue Properties
###############################################################################
# Required Parameters
# Scope = cell | node | server | cluster

SCOPE=$scope
SCOPE_NAME=$scopeName

NAME=ESB_MEDLEMSKAPSUNNTAK_INFOT_RECIEVE
JNDI_NAME=jms/ESB_MEDLEMSKAPSUNNTAK_INFOT_RECIEVE
CONNECT_QUEUE_NAME=$baseQueueNameInfot
BUSNAME=$busName

#
# Optional Parameters
DESC=Reply queue for Infot Medl
DELIVERY_MODE=Application
TIME_TO_LIVE=
PRIORITY=
READ_AHEAD=AsConnection