###############################################################################
# J2C Connection Factory
###############################################################################
# SCOPE				= cell | node | server | cluster

SCOPE 				= $scope
SCOPE_NAME			= $scopeName
NODE_NAME 			= $nodeName


#Resource Adapter name 
RA_NAME				= ECIResourceAdapter

#J2C Connection Factory properties
NAME				= CICSINFOTNoTrans
JNDI_NAME			= jndi/jca/INFOT
DESCRIPTION			= MOT INFOT

#Custom properties
CONNECTION_URL		= $connUrlCicsInfot
PORT_NUMBER			= $portCicsInfot
SERVER_NAME			= $serverNameCicsInfot

