###############################################################################
# Name Space Binding Properties
#
###############################################################################
# Required Parameters
# SCOPE				= cell | node | server | cluster
SCOPE 				= cell
SCOPE_NAME			= $cellName

# NODE_NAME only required for SCOPE=server
NODE_NAME 			= 

### Valid: indirect, ejb, corba, string
BINDING_TYPE 		= indirect
BINDING_IDENTIFIER  = FRG-TPHome
NAME_IN_NAMESPACE 	= binding/EJB/FRG-TPHome
###Only required for BINDING_TYPE=INDIRECT
PROVIDER_URL		= $providerurlTjenestepensjonService
###Valid for BINDING_TYPE=Ejb and Indirect
JNDI_NAME			= $jndiNameTjenestepensjonService