<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Brukes til deploy av BPM applikasjoner (logisk busser)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Environment</name>
          <description>Miljøet applikasjonen skal deployes til.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>u2</string>
              <string>u3</string>
              <string>u4</string>
              <string>u5</string>
              <string>u32</string>
              <string>u42</string>
              <string>u52</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Applications</name>
          <description>Kommaseparert liste av applikasjoner som skal deployes. Navn på applikasjon etterfulgt av versjonsnummeret.
Eksempel:
skybpm:0.0.1,virksomhetsbuss:2.0.8</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>User</name>
          <description>Adeo-ident for brukeren som kjører deployjobben. For U-miljøer kan brukeren &apos;admin&apos; brukes.</description>
          <defaultValue>admin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>Password</name>
          <description>Passord for brukeren som kjører deployjobben. For &apos;admin&apos; brukeren er passordet &apos;admin&apos;</description>
          <defaultValue>MD/1AS7GIw6dGgbLiVMJxBNHij3CRV1ID5x2Xo0Ozwc=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>debug</name>
          <description>Settes til true for mer verbose output. Default er false.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>deployerPluginVersion</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>5.0.19</string>
              <string>RELEASE</string>
              <string>5.0.20</string>
              <string>5.0.21-SNAPSHOT</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>restartAllModules</name>
          <description>Settes til true for å restarte alle moduler i applikasjonen. Default er false.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>modulesToInstall</name>
          <description>Kommaseparert liste av moduler som skal installeres. Fungerer som et filter på modulene i applikasjonen. Evt. andre moduler blir ikke installert.
Hvis parameteret ikke er satt blir alle moduler installert. Default er null/tom.

Eksempel:
nav-tjeneste-person,pensjon-tjeneste-vedtak,nav-ent-sto-sam</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="test@example.com">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>-U no.nav.maven.plugins:aura-maven-bpm-plugin:${deployerPluginVersion}:deploy</targets>
      <mavenName>Maven 3.3.1</mavenName>
      <properties>apps=${Applications}
env=${Environment}
username=${User}
password=${Password}
debug=${debug}
restartAllModules=${restartAllModules}
modulesToInstall=${modulesToInstall}</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper/>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="test@example.com">
      <template>#${BUILD_NUMBER}: ${ENV,var=&quot;Applications&quot;}@${ENV,var=&quot;Environment&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>