<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>hudson-plugins-clearcase-ClearCasePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-tasks-TasksPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-checkstyle-CheckStylePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>blockBuildWhenDownstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>org-hudsonci-plugins-snapshotmonitor-SnapshotTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>hudson-plugins-descriptionsetter-JobByDescription</string>
      <base-property>
        <originalValue class="hudson.plugins.descriptionsetter.JobByDescription"/>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
      <base-property>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>logRotator</string>
      <log-rotator-property>
        <propertyOverridden>false</propertyOverridden>
      </log-rotator-property>
    </entry>
    <entry>
      <string>hudson-queueSorter-PrioritySorterJobProperty</string>
      <base-property>
        <originalValue class="hudson.queueSorter.PrioritySorterJobProperty">
          <priority>100</priority>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>hudson-plugins-pmd-PmdPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-violations-ViolationsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-descriptionsetter-DescriptionSetterPublisher</string>
      <external-property>
        <originalValue class="hudson.plugins.descriptionsetter.DescriptionSetterPublisher">
          <regexp></regexp>
          <regexpForFailed></regexpForFailed>
          <description>[BUS] Env: ${Environment} esb-version:${ESBVersion} authorization=${esb_authorization_configuration} enviroment=${esb_environment_configuration} nonenviroment=${esb_nonenvironment_configuration} BusPomRevision=${BusPomRevision}</description>
          <setForMatrix>false</setForMatrix>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>scmCheckoutRetryCount</string>
      <integer-property>
        <propertyOverridden>false</propertyOverridden>
      </integer-property>
    </entry>
    <entry>
      <string>blockBuildWhenUpstreamBuilding</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-plugins-git-GitPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyNotifier</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Mailer</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-tasks-test-AggregatedTestResultPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-junit-JUnitResultArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-Fingerprinter</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-sonar-SonarPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList">
          <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
              <hudson.model.StringParameterDefinition>
                <name>Environment</name>
                <description>Miljø navn (ex. U3)</description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>ESBVersion</name>
                <description>Buss versjon</description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>esb_authorization_configuration</name>
                <description></description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>esb_environment_configuration</name>
                <description></description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>esb_nonenvironment_configuration</name>
                <description></description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>BusPomRevision</name>
                <description>SVN revisjon av deployer pom.
Se endringslogg http://confluence.adeo.no/display/NDUSYS/Endringslogg+for+WPS+Deployer for detaljer.</description>
                <defaultValue>10955</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.ChoiceParameterDefinition>
                <name>logging_level</name>
                <description>Select the level of logging output</description>
                <choices class="java.util.Arrays$ArrayList">
                  <a class="string-array">
                    <string>INFO</string>
                    <string></string>
                    <string>DEBUG</string>
                    <string>INFO</string>
                    <string>WARNING</string>
                    <string>ERROR</string>
                    <string>EXCEPTION</string>
                  </a>
                </choices>
              </hudson.model.ChoiceParameterDefinition>
              <hudson.model.ChoiceParameterDefinition>
                <name>Lifecycle</name>
                <description>Maven lifecycle</description>
                <choices class="java.util.Arrays$ArrayList">
                  <a class="string-array">
                    <string>deploy</string>
                    <string>test</string>
                  </a>
                </choices>
              </hudson.model.ChoiceParameterDefinition>
            </parameterDefinitions>
          </hudson.model.ParametersDefinitionProperty>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>join-JoinTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-JavadocArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-warnings-WarningsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-emailext-ExtendedEmailPublisher</string>
      <external-property>
        <originalValue class="hudson.plugins.emailext.ExtendedEmailPublisher">
          <recipientList></recipientList>
          <configuredTriggers>
            <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
              <email>
                <recipientList></recipientList>
                <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                <body>$PROJECT_DEFAULT_CONTENT</body>
                <sendToDevelopers>true</sendToDevelopers>
                <includeCulprits>true</includeCulprits>
                <sendToRecipientList>true</sendToRecipientList>
              </email>
            </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
            <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
              <email>
                <recipientList></recipientList>
                <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                <body>$PROJECT_DEFAULT_CONTENT</body>
                <sendToDevelopers>false</sendToDevelopers>
                <includeCulprits>false</includeCulprits>
                <sendToRecipientList>false</sendToRecipientList>
              </email>
            </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
            <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
              <email>
                <recipientList></recipientList>
                <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                <body>$PROJECT_DEFAULT_CONTENT</body>
                <sendToDevelopers>true</sendToDevelopers>
                <includeCulprits>false</includeCulprits>
                <sendToRecipientList>true</sendToRecipientList>
              </email>
            </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          </configuredTriggers>
          <contentType>default</contentType>
          <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
          <defaultContent>$DEFAULT_CONTENT</defaultContent>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>customWorkspace</string>
      <string-property>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>quietPeriod</string>
      <integer-property>
        <propertyOverridden>false</propertyOverridden>
      </integer-property>
    </entry>
    <entry>
      <string>hudson-plugins-chucknorris-CordellWalkerRecorder</string>
      <external-property>
        <originalValue class="hudson.plugins.chucknorris.CordellWalkerRecorder">
          <factGenerator/>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-tasks-BuildTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-SCMTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Shell>
            <command>if [[ &quot;${BusPomRevision}&quot; =~ &quot;^[0-9]+$&quot; ]] ;then
  wget -O pom.xml https://versjonskontroll.adeo.no/wsvn/stelvio/trunk/int/maven/poms/maven-wpsdeploy-pom/pom.xml?op=dl\&amp;rev=${BusPomRevision}
else
  echo &quot;Revision must be a number&quot;
  exit 1
fi</command>
          </hudson.tasks.Shell>
          <maven-builder>
            <config>
              <installationId>Maven 3</installationId>
              <goals>clean
${Lifecycle}
-Denvironment=${Environment}
-Desb-modules-version=${ESBVersion}
-Dnav-modules-version=${ESBVersion}
-Dpensjon-modules-version=${ESBVersion}
-Dpensjon-prosess-modules-version=${ESBVersion}
-Dekstern-pensjon-modules-version=${ESBVersion}
-DinteractiveMode=false
-Dskip=bounce-dmgr
-Desb-authorization-configuration=${esb_authorization_configuration}
-Desb-nonenviroment-configuration=${esb_nonenvironment_configuration}
-Desb-enviroment-configuration=${esb_environment_configuration}
-Dlogging.level=${logging_level}
-DfasitPasswordBase64=YWRtaW4=
-DfasitUsername=admin</goals>
              <privateRepository>false</privateRepository>
              <privateTmpdir>false</privateTmpdir>
              <pomFile>pom.xml</pomFile>
              <properties>
                <entries/>
              </properties>
              <errors>false</errors>
              <verbosity>NORMAL</verbosity>
              <offline>false</offline>
              <snapshotUpdateMode>NORMAL</snapshotUpdateMode>
              <recursive>true</recursive>
              <checksumMode>NORMAL</checksumMode>
              <failMode>NORMAL</failMode>
              <makeMode>NONE</makeMode>
              <settingsId>NONE</settingsId>
              <globalSettingsId>NONE</globalSettingsId>
              <toolChainsId>NONE</toolChainsId>
            </config>
          </maven-builder>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>hudson-plugins-clearcase-ucm-UcmMakeBaselineComposite</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-clearcase-ucm-UcmMakeBaseline</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-postbuildtask-PostbuildTask</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>jdk</string>
      <string-property>
        <originalValue class="string">(Default)</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>appointedNode</string>
      <base-property>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>concurrentBuild</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-dependencymonitor-DependencyTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
    <entry>
      <string>hudson-plugins-parameterizedtrigger-BuildTrigger</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-cigame-GamePublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.scm.NullSCM"/>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
    <entry>
      <string>hudson-plugins-findbugs-FindBugsPublisher</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>org-hudsonci-maven-plugin-artifactrecorder-ArtifactFingerprinter</string>
      <external-property>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-triggers-TimerTrigger</string>
      <trigger-property>
        <propertyOverridden>false</propertyOverridden>
      </trigger-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>r132736</createdBy>
  <creationTime>1357567499075</creationTime>
  <properties/>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-descriptionsetter-JobByDescription</string>
    <string>hudson-queueSorter-PrioritySorterJobProperty</string>
    <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>